<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{base_url}}assets/ISWMP-icon.png">
  <title>ISWMP - ADMIN</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{base_url}}assets/ltev3/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="{{base_url}}assets/ltev3/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="{{base_url}}assets/ltev3/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="{{base_url}}assets/ltev3/plugins/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{base_url}}assets/ltev3/dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{{base_url}}assets/ltev3/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{{base_url}}assets/ltev3/plugins/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="{{base_url}}assets/ltev3/plugins/summernote/summernote-bs4.min.css">

  <link rel="stylesheet" href="{{base_url}}assets/ltev3/plugins/select2/css/select2.min.css">
  <link rel="stylesheet" href="{{base_url}}assets/ltev3/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

  <link rel="stylesheet" href="{{base_url}}assets/ltev3/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="{{base_url}}assets/ltev3/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="{{base_url}}assets/ltev3/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <link rel="stylesheet" href="{{base_url}}assets/ltev3/plugins/icheck-bootstrap/icheck-bootstrap.min.css">

  <style>
    .swal2-styled-custom {
      margin: .3125em;
      box-shadow: none;
      font-weight: 500;
    }
  </style>
</head>

<body >
	<div>
		<div>
			{% block content %} {% endblock %}
		</div>
	</div>
	<script src="{{base_url}}assets/ltev3/plugins/jquery/jquery.min.js"></script>
	<!-- jQuery UI 1.11.4 -->
	<script src="{{base_url}}assets/ltev3/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
	  $.widget.bridge('uibutton', $.ui.button)
	</script>
	<!-- Bootstrap 4 -->
	<script src="{{base_url}}assets/ltev3/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- ChartJS -->
	<script src="{{base_url}}assets/ltev3/plugins/chart.js/Chart.min.js"></script>
	<!-- Sparkline -->
	<script src="{{base_url}}assets/ltev3/plugins/sparklines/sparkline.js"></script>
	<!-- JQVMap -->
	<script src="{{base_url}}assets/ltev3/plugins/jqvmap/jquery.vmap.min.js"></script>
	<script src="{{base_url}}assets/ltev3/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
	<!-- jQuery Knob Chart -->
	<script src="{{base_url}}assets/ltev3/plugins/jquery-knob/jquery.knob.min.js"></script>
	<!-- daterangepicker -->
	<script src="{{base_url}}assets/ltev3/plugins/moment/moment.min.js"></script>
	<script src="{{base_url}}assets/ltev3/plugins/daterangepicker/daterangepicker.js"></script>
	<!-- Tempusdominus Bootstrap 4 -->
	<script src="{{base_url}}assets/ltev3/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
	<!-- Summernote -->
	<script src="{{base_url}}assets/ltev3/plugins/summernote/summernote-bs4.min.js"></script>
	<!-- overlayScrollbars -->
	<script src="{{base_url}}assets/ltev3/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
	<!-- AdminLTE App -->
	<script src="{{base_url}}assets/ltev3/dist/js/adminlte.js"></script>
	<!-- AdminLTE for demo purposes -->
	<!-- <script src="{{base_url}}assets/ltev3/dist/js/demo.js"></script> -->
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	<!-- <script src="{{base_url}}assets/ltev3/dist/js/pages/dashboard.js"></script> -->

  <!-- jQuery -->
  <!-- <script src="{{base_url}}assets/ltev3/plugins/jquery/jquery.min.js"></script> -->
  <!-- Bootstrap 4 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <!-- DataTables  & Plugins -->
  <script src="{{base_url}}assets/ltev3/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="{{base_url}}assets/ltev3/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="{{base_url}}assets/ltev3/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="{{base_url}}assets/ltev3/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="{{base_url}}assets/ltev3/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="{{base_url}}assets/ltev3/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="{{base_url}}assets/ltev3/plugins/jszip/jszip.min.js"></script>
  <script src="{{base_url}}assets/ltev3/plugins/pdfmake/pdfmake.min.js"></script>
  <script src="{{base_url}}assets/ltev3/plugins/pdfmake/vfs_fonts.js"></script>
  <script src="{{base_url}}assets/ltev3/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="{{base_url}}assets/ltev3/plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="{{base_url}}assets/ltev3/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
  <script src="{{base_url}}assets/ltev3/plugins/select2/js/select2.full.min.js"></script>
  <script src="{{base_url}}assets/ltev3/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
  <script src="{{base_url}}assets/ltev3/swal/swal.js"></script>
  <script src="{{base_url}}assets/ltev3/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	{% block js %}
   {% endblock %}

   {% if script %}
   <script src = "{{script}}"></script>
  {% endif %}
</body>
</html>
