{% extends "admin/layout.html" %} {% block content %}
	<script>
		const chart_pengunjung = `{{ chartpengunjung|json_encode(constant('JSON_HEX_TAG'))|raw }}`
		const chart_tahun = `{{ charttahun }}`
	</script>
    <!-- Content Header (Page header) -->
    <div class="content-header">
		<div class="container-fluid">
		  <div class="row mb-2">
			<div class="col-sm-6">
			  <h1 class="m-0"><i class="nav-icon fas fa-tachometer-alt"></i> Dashboard</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
			  <ol class="breadcrumb float-sm-right">
				<li class="breadcrumb-item active">Dashboard</li>
			  </ol>
			</div><!-- /.col -->
		  </div><!-- /.row -->
		</div><!-- /.container-fluid -->
	  </div>
	  <!-- /.content-header -->
  
	  <!-- Main content -->
	  <section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-6">
				
					<div class="small-box bg-warning">
						<div class="inner">
							<h3>{{pengunjunghariini}}</h3>
								<p>Pengunjung Hari ini</p>
							</div>
							<div class="icon">
								<i class="ion ion-person"></i>
							</div>
							<a href="#" class="small-box-footer">{{ "now"|date("d/M/Y") }}</a>
					</div>
				</div>

				<div class="col-lg-4 col-6">
				
					<div class="small-box bg-primary">
						<div class="inner">
							<h3>{{pengunjungbulanini}}</h3>
								<p>Pengunjung Bulan ini</p>
							</div>
							<div class="icon">
								<i class="ion ion-person"></i>
							</div>
							<a href="#" class="small-box-footer">{{ "now"|date("m") }}</a>
					</div>
				</div>

				<div class="col-lg-4 col-6">
				
					<div class="small-box bg-danger">
						<div class="inner">
							<h3>{{pengunjungtahunini}}</h3>
								<p>Pengunjung Tahun ini</p>
							</div>
							<div class="icon">
								<i class="ion ion-person"></i>
							</div>
							<a href="#" class="small-box-footer">{{"now"|date("Y")}}</a>
					</div>
				</div>
				
				<div class="col-lg-6 col-6">
				
					<div class="small-box bg-info">
						<div class="inner">
							<h3>{{totalpengunjung}}</h3>
							<p>Total Pengunjung</p>
						</div>
						<div class="icon">
							<i class="ion ion-person-stalker"></i>
						</div>
						<a href="#" class="small-box-footer">-</a>
					</div>
				</div>
				
				<div class="col-lg-6 col-6">
				
					<div class="small-box bg-success">
						<div class="inner">
							<h3>{{pengunjungonline}}</h3>
							<p>Pengunjung Online</p>
						</div>
						<div class="icon">
							<i class="ion ion-person-add"></i>
						</div>
						<a href="#" class="small-box-footer">-</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
							<div class="row" hidden>
								<div class="col-sm-1 ">
									Pilih Tahun:
								</div>
								<div class="col-sm-2">
									<select class="form-control" id="tahun_chart">
										{% for x in 2022..2025 %}
											<option value="{{x}}" {{ (x in charttahun) ? 'selected' : '' }} >{{x}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<div class="card-body">

							<div id="chart"></div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	  </section>
	  <!-- /.content -->
{% endblock %}
