{% extends "admin/layout.html" %} {% block content %}
<style>
  .custom-file-label::after {
    width: 100%;
  }
</style>
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1><i class="nav-icon fa fa-file-signature"></i> Lelang </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Lelang</a></li>
          <li class="breadcrumb-item active">List Lelang</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-navy card-outline">
          <div class="card-header">
            <h3 class="card-title"></h3>

            <div class="card-tools">
              <div class="input-group input-group-sm">
                  <div class="btn btn-info" id="add-lelang">
                    <i class="fas fa-plus"></i><span> Tambah Lelang</span>
                  </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <input id="param" value="User" hidden>
            <div class="table-responsive">
            <table class="table table-bordered table-hover" id="listlelang">
                <thead>
                    <tr>
                        <th width="100%">No</th>
                        <th width="100%">Paket Kegiatan</th>
                        <th width="100%">Pagu</th>
                        <th width="100%">HPS</th>
                        <th width="100%">Institusi Pelaksana</th>
                        <th width="100%">Nilai Kontrak</th>
                        <th width="100%">Perusahaan Terkontrak</th>
                        <th width="100%">Target Lelang</th>
                        <th width="100%">Metode Lelang</th>
                        <th width="100%">Jenis Kontrak</th>
                        <th width="100%">Keterangan</th>
                        <th width="100%">Tanggal Tayang Lelang</th>
                        <th width="100%">Tanggal SPMK</th>
                        <th width="100%">Tanggal Akhir Pekerjaan</th>
                        <th width="100%">Status Lelang</th>
                        <th width="100%">Tahun</th>
                        <th width="100%">action</th>
                    </tr>
                </thead>
            </table>
            </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-lg card card-danger card-outline">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Detail</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input id="id" hidden>
        <input id="idfile" hidden>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Judul Paket Kegiatan</label>
                <input id="judul_paket" name="berita-input" type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Metode Lelang</label>
                <select class="select2bs4" placeholder="tag" style="width: 100%;" id="metode_lelang">
                  <option value="-">Pilih...</option>
                    <option value="CQS">CQS</option>
                    <option value="RFB">RFB</option>
                    <option value="RFQ">RFQ</option>
                    <option value="QCBS">QCBS</option>
                    <option value="Jasa Lainnya">Jasa Lainnya</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Jenis Kontrak</label>
                <select class="select2bs4" placeholder="tag" style="width: 100%;" id="jenis_lelang">
                  <option value="-">Pilih...</option>
                    <option value="SYC">SYC</option>
                    <option value="MYC">MYC</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Institusi Pelaksana</label>
                <select class="select2bs4" placeholder="tag" style="width: 100%;" id="pel_paket">
                  <option value="">Pilih...</option>
                  <option value="BPPW Sumatera Barat">BPPW Sumatera Barat</option>
                  <option value="BPPW Banten">BPPW Banten</option>
                  <option value="BPPW Jawa Barat">BPPW Jawa Barat</option>
                  <option value="BPPW Jawa Timur">BPPW Jawa Timur</option>
                  <option value="BPPW Bali">BPPW Bali</option>
                  <option value="Balai Teknologi Sanitasi">Balai Teknologi Sanitasi</option>
                  <option value="Direktorat Sanitasi">Direktorat Sanitasi</option>
                  <option value="Ditjen Bangda SUPD I">Ditjen Bangda SUPD I</option>
                  <option value="Ditjen Bangda SUPD II">Ditjen Bangda SUPD II</option>

                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Tanggal Tayang Lelang</label>
                <div class="input-group date" id="reservationdate1" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate1" fdprocessedid="amjcx" id="tanggal_mulai">
                  <div class="input-group-append" data-target="#reservationdate1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Tanggal SPMK</label>
                <div class="input-group date" id="reservationdate2" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate2" fdprocessedid="amjcx" id="tanggal_akhir">
                  <div class="input-group-append" data-target="#reservationdate2" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Tanggal Akhir Pekerjaan</label>
                <div class="input-group date" id="reservationdate3" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate3" fdprocessedid="amjcx" id="tanggal_akhir_pekerjaan">
                  <div class="input-group-append" data-target="#reservationdate3" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Status</label>
                <select class="select2bs4" placeholder="tag" style="width: 100%;" id="status">
                  <option value="0">Pilih...</option>
                    <!-- <option value="1">Belum Tayang</option>
                    <option value="2">Sudah Tayang</option>
                    <option value="3">Sudah Kontrak</option>
                    <option value="4">Pekerjaan selesai</option>
                    <option value="5">Serah terima</option> -->
                    <option value="1">Belum Tayang Lelang</option>
                    <option value="2">Sedang Tayang Lelang</option>
                    <option value="3">Terkontrak (pelaksanaan)</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Nilai Dipa</label>
                <input id="pagu_hps" name="berita-input" type="number" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Nilai Pagu pengadaan (HPS)</label>
                <input id="hps" name="berita-input" type="number" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Nilai Kontrak</label>
                <input id="nilai_tayang" name="berita-input" type="text" class="form-control" placeholder="">
              </div>
            </div><div class="col-md-6">
              <div class="form-group">
                <label>Perusahaan Terkontrak</label>
                <input id="nama_pelaksana" name="berita-input" type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Keterangan</label>
                <input id="keterangan" name="lelang-input" type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Tautan Progres Lelang</label>
                <input id="link" name="berita-input" type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Target Lelang</label>
                <select class="select2bs4" placeholder="tag" style="width: 100%;" id="target_lelang">
                  <option value="0">Pilih...</option>
                    <option value="1">Januari</option>
                    <option value="2">Februari</option>
                    <option value="3">Maret</option>
                    <option value="4">April</option>
                    <option value="5">Mei</option>
                    <option value="6">Juni</option>
                    <option value="7">Juli</option>
                    <option value="8">Agustus</option>
                    <option value="9">September</option>
                    <option value="10">Oktober</option>
                    <option value="11">November</option>
                    <option value="12">Desember</option>
                </select>
              </div>
            </div>
           
            <!-- <div class="col-md-6">
              <div class="form-group">
                <label>Perusahaan Terkontrak</label>
                <input id="nama_pelaksana" name="berita-input" type="text" class="form-control" placeholder="">
              </div>
            </div> -->

          
            
            
            
            <div class="col-md-6">
              <div class="form-group">
                <label>Tahun</label>
                <select class="select2bs4" placeholder="tag" style="width: 100%;" id="tahun_lelang">
                  <option value="0">Pilih...</option>
                  {% for key in 2020..2025 %}
                    <option value="{{key}}">{{key}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
              <div class="col-md-12">
                <div class="card card-light card-outline">
                  <div class="card-header">
                    <label class="">Upload Gambar</label>
                    <div class="card-tools">
                      
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row" id="gambar-container">
  
                      <div class="col-md-4">
                        <div class="card card-light card-outline">
                          <div class="card-tools">
                            <a href="#" class="btn btn-tool">
                              <i class="fas fa-timess"></i>
                            </a>
                          </div>
                          <div class="card-body">
                            <div class="form-group">
                              <label></label>
                              <div class="text-center">
                                  <img id="blah_1" name="images" class="img-fluid" src="assets/img/no-image.png" alt="picture">
                                  <canvas hidden id="myCanvas_1" />
                              </div>
                              <div class="custom-file" style="margin-bottom: 10px;margin-top: 10px;">
                                <input type="file" class="custom-file-input" id="image_1" name="image_input" style="display: none;">
                                <label class="custom-file-label" for="image_1">Pilih foto</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
  
                    </div>
                  </div>
                </div>
              </div>
            <!-- <div class="col-md-12">
              <div class="form-group">
                <label>Deskripsi</label>
                <textarea name="summernote" id="deskripsi">
                  
                </textarea>
              </div>
            </div> -->
            <!-- <div class="col-md-12">
              <div class="form-group">
                <label>Rekomendasi</label>
                <input id="rekomendasi" name="berita-input" type="text" class="form-control" placeholder="">
              </div>
            </div> -->
        </div>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Tutup</button> -->
        <button id="save-berita" type="button" class="btn btn-success" ><i class="fas fa-check"> </i> Simpan</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- modal detail user -->
<div class="modal fade" id="modal-detail">
  <div class="modal-dialog modal-sm card card-danger card-outline">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Detail</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="card-body box-profile">
            <div class="text-center">
              <img id="detail-foto" class="profile-user-img img-fluid img-circle" src="assets/img/users/default.jpg" alt="User profile picture">
            </div>

            <h3 class="profile-username text-center" id="detail-name">Nina Mcintire</h3>

            <p class="text-muted text-center" id="detail-username">Software Engineer</p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Status</b> <a class="float-right" id="detail-status">543</a>
              </li>
              <li class="list-group-item">
                <b>Jenis User</b> <a class="float-right" id="detail-role">13,287</a>
              </li>
            </ul>

            <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
          </div>
          <!-- /.card-body -->
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Tutup</button> -->
        <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fas fa-times"> </i> Tutup</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.card -->

</section>

<!-- /.content -->


{% endblock %}
{% block js %}
<script>
$(function () {
  bsCustomFileInput.init();
});
</script>
{% endblock %}
