{% extends "frontend/layout.html" %} {% block content %}
<link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<style>
    #tab-outer {
  position:relative;
  font:normal 12px Arial,Sans-Serif;    
}

#tab-outer * {
  margin:0px 0px;
  padding:0px 0px;    
}

#tab-wrapper {
  list-style:none;
  height:30px;
}

#tab-wrapper li {
  margin:0px 0px 0px 2px;
  float:left;
  font-weight:bold;
}

#tab-wrapper li a {
  display:block;
  padding:0px 15px;
  line-height:30px;
  text-decoration:none;
  color:white;
  background-color:#58b9ff; 
}

#tab-wrapper li.active a {
  background-color:#1c6295;
}

#tab-body > div {
  background-color:#1c6295;
  color:white;
  padding:10px 15px;
  border-bottom:4px solid #1c6295;
  height:100%; /* Contoh */    
}

</style>
<section>
    <div class="gap no-bottom blackish low-opacity">
        <div class="bg-image"><img src="assets/img/resources/pagetop.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-top">
                        <ul class="bread-crumb">
                            <li><a href="gallery-simple.html#" title="">Beranda</a></li>
                            <li>Progres ISWMP</li>
                        </ul>
                        <h2 class="page-title">MONITORING <span>{{ param }}</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- page top title with bread crumb -->
{% if param == 'BALI' %}
<section id="contact">
    <div class="gap nogap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-2 margin-btm">
                    </div>
                    <div class="contact-page">
                        <div id="tab-outer">
                            <ul id="tab-wrapper">
                                <li><a href="#tab1">TPST Padang Sambian</a></li>
                                <li><a href="#tab2">TPST Kesiman Kertalangu</a></li>
                                <li><a href="#tab3">TPST Tahura 1</a></li>
                                <li><a href="#tab5">TPST Tahura 2</a></li>
                                <li><a href="#tab4">Catatan Progress</a></li>
                            </ul>
                            <div id="tab-body">
                                <div id="tab1">
                                    <!-- <iframe title="Progres ISWMP - Denpasar - Halaman 1" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNjgwZGY4YTAtNzY3MS00ZTkwLTgxYjAtYzE5MTA2YzJjMjg3IiwidCI6IjYwMWIzZTU5LWRhMmUtNDY4NS1iOWUyLTlhZGQxMzFhNzExZSIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>                                </div> -->
                                    <iframe title="Progres ISWMP - Denpasar - Halaman 1" width="1024" height="1060" src="https://bimtpstbali.wixsite.com/adhi-karya-tpst-bali/copy-of-kertalangu" frameborder="0" allowFullScreen="true"></iframe>                                </div>
                                <div id="tab2">
                                    <!-- <iframe title="Progres ISWMP - Denpasar" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNjgwZGY4YTAtNzY3MS00ZTkwLTgxYjAtYzE5MTA2YzJjMjg3IiwidCI6IjYwMWIzZTU5LWRhMmUtNDY4NS1iOWUyLTlhZGQxMzFhNzExZSIsImMiOjEwfQ%3D%3D&pageName=ReportSection9c10814e5af14045059e" frameborder="0" allowFullScreen="true"></iframe>                                </div> -->
                                    <iframe title="Progres ISWMP - Denpasar" width="1024" height="1060" src="https://bimtpstbali.wixsite.com/adhi-karya-tpst-bali/portfolio" frameborder="0" allowFullScreen="true"></iframe>                                </div>
                                <div id="tab3">
                                    <!-- <iframe title="Progres ISWMP - Denpasar" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNjgwZGY4YTAtNzY3MS00ZTkwLTgxYjAtYzE5MTA2YzJjMjg3IiwidCI6IjYwMWIzZTU5LWRhMmUtNDY4NS1iOWUyLTlhZGQxMzFhNzExZSIsImMiOjEwfQ%3D%3D&pageName=ReportSection0907aeaea98f5bcd344f" frameborder="0" allowFullScreen="true"></iframe>                                 -->
                                    <iframe title="Progres ISWMP - Denpasar" width="1024" height="1060" src="https://bimtpstbali.wixsite.com/adhi-karya-tpst-bali/copy-of-padang-sambian" frameborder="0" allowFullScreen="true"></iframe>                                
                                </div>
                                <div id="tab5">
                                    <!-- <iframe title="Progres ISWMP - Denpasar" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNjgwZGY4YTAtNzY3MS00ZTkwLTgxYjAtYzE5MTA2YzJjMjg3IiwidCI6IjYwMWIzZTU5LWRhMmUtNDY4NS1iOWUyLTlhZGQxMzFhNzExZSIsImMiOjEwfQ%3D%3D&pageName=ReportSection0907aeaea98f5bcd344f" frameborder="0" allowFullScreen="true"></iframe>                                 -->
                                    <iframe title="Progres ISWMP - Denpasar" width="1024" height="1060" src="https://bimtpstbali.wixsite.com/adhi-karya-tpst-bali/copy-of-tahura-1" frameborder="0" allowFullScreen="true"></iframe>                                
                                </div>
                                <div id="tab4">
                                    <!-- <iframe width="1024" height="1060" src="https://docs.google.com/document/d/e/2PACX-1vTX-wZ5cRz6njNM2AubY8Z_dFXjRt2ANQRPOkzRoC1gL6HfS6icnR9RZhdlOfwyxf03Z1L1Lf0YLFGg/pub?embedded=true"></iframe> -->
                                    <!-- <iframe width="1024" height="1060" src="https://docs.google.com/document/d/e/2PACX-1vT_hVLktWNHf0QapkMG0Ik9B1DPMYAD0eA3rcqHOBows22Z9hdzqwzv7sBQg_ALY_DC-ymO_GCOHm9t/pub?embedded=true"></iframe>  -->
                                    <iframe src="https://drive.google.com/file/d/126ffqB0befpmks5aUO13ZNXAFjmNL9v6/preview" width="1024" height="1060"></iframe>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if param == 'CITARUM' %}
<section id="contact">
    <div class="gap nogap">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-2 margin-btm">
                    </div>
                    <div class="contact-page">
                            <iframe width="1024" height="1060" src="https://sipsn.menlhk.go.id/sipsn/public/home/das/1"></iframe> 
                    </div>
                </div>
            </div>
    </div>
</section>
{% endif %}

{% if param == 'RC' %}
<section id="contact">
    <div class="gap nogap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br/>
                    <table class="table table-bordered table-hover" id="rc">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Nama Kabupaten / Kota</th>
                                <th>Nama TPST</th>
                                <th width="18%">Status Readiness Criteria</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Kabupaten Bandung</td>
                                <td>Cicukang Oxbow</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Kabupaten Bandung</td>
                                <td>Citaliktik</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Kabupaten Bandung</td>
                                <td>Ex TPA Babakan</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Kabupaten Bandung</td>
                                <td>Jelekong</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Kabupaten Bandung</td>
                                <td>RPH Baleendah</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Kabupaten Bandung</td>
                                <td>UPT BLK Disnaker</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Kabupaten Bandung</td>
                                <td>Wargamekar</td>
                                <td>Form RC</td>
                            </tr>

                            <tr>
                                <td>8</td>
                                <td>Kabupaten Bandung Barat</td>
                                <td>Batujajar Timur</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Kabupaten Bandung Barat</td>
                                <td>Cilame</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Kabupaten Bandung Barat</td>
                                <td>Desa Suntenjaya</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Kabupaten Bandung Barat</td>
                                <td>EX TPA Pasir Buluh</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Kabupaten Bandung Barat</td>
                                <td>Komplek Pemda</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>Kabupaten Bandung Barat</td>
                                <td>Komplek Perumahan Kota Baru Parahyangan</td>
                                <td>Form RC</td>
                            </tr>

                            <tr>
                                <td>14</td>
                                <td>Kabupaten Bekasi</td>
                                <td>Bantarjaya</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>Kabupaten Bekasi</td>
                                <td>Kertamukti</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>Kabupaten Bekasi</td>
                                <td>Lenggahjaya</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>Kabupaten Bekasi</td>
                                <td>Sindangjaya</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>Kabupaten Bekasi</td>
                                <td>Kedungwaringin</td>
                                <td>Form RC</td>
                            </tr>

                            <tr>
                                <td>19</td>
                                <td>Kabupaten Cianjur</td>
                                <td>Bojong</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>Kabupaten Cianjur</td>
                                <td>Mekarsari</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>Kabupaten Cianjur</td>
                                <td>Bojongpicung</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>22</td>
                                <td>Kabupaten Cianjur</td>
                                <td>Pasirembung</td>
                                <td>Form RC</td>
                            </tr>

                            <tr>
                                <td>23</td>
                                <td>Kabupaten Karawang</td>
                                <td>Cirejag</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>24</td>
                                <td>Kabupaten Karawang</td>
                                <td>Jayakerta</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>25</td>
                                <td>Kabupaten Karawang</td>
                                <td>Leuwisisir</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>26</td>
                                <td>Kabupaten Karawang</td>
                                <td>Mekarjati</td>
                                <td>Form RC</td>
                            </tr>

                            <tr>
                                <td>27</td>
                                <td>Kabupaten Purwakarta</td>
                                <td>Cikolotok</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>28</td>
                                <td>Kabupaten Purwakarta</td>
                                <td>Nagrak</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>29</td>
                                <td>Kabupaten Purwakarta</td>
                                <td>Neglasari</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>30</td>
                                <td>Kabupaten Purwakarta</td>
                                <td>Sukatani</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>31</td>
                                <td>Kabupaten Purwakarta</td>
                                <td>Tehalsari</td>
                                <td>Form RC</td>
                            </tr>

                            <tr>
                                <td>32</td>
                                <td>Kota Bandung</td>
                                <td>EX-TPA Cicabe</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>33</td>
                                <td>Kota Bandung</td>
                                <td>Nyengseret</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>34</td>
                                <td>Kota Bandung</td>
                                <td>Tegalega</td>
                                <td>Form RC</td>
                            </tr>

                            <tr>
                                <td>35</td>
                                <td>Kota Cimahi</td>
                                <td>Kolonel Masturi</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>36</td>
                                <td>Kota Cimahi</td>
                                <td>Lebak Saat Cipageran</td>
                                <td>Form RC</td>
                            </tr>

                            <tr>
                                <td>37</td>
                                <td>Kota Denpasar</td>
                                <td>Kesiman Kertalangu</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>38</td>
                                <td>Kota Denpasar</td>
                                <td>Padang Sambian</td>
                                <td>Form RC</td>
                            </tr>
                            <tr>
                                <td>39</td>
                                <td>Kota Denpasar</td>
                                <td>Tahura</td>
                                <td>Form RC</td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                </div>
                <div class="col-md-12" hidden>
                    <iframe src="https://drive.google.com/file/d/13z7NudjILZRal7L9phqTS9M_LgUyUAg6/preview" width="100%" height="1060"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% endblock %}
