{% extends "frontend/layout.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="{{base_url}}assets/frontend/evo-calendar/css/evo-calendar.css"/>
<link rel="stylesheet" type="text/css" href="{{base_url}}assets/frontend/evo-calendar/css/evo-calendar.orange-coral.min.css"/>

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet">

<style>
    table,
    td {
        border: 1px solid #333;
    }

    thead,
    tfoot {
        background-color: #333;
        color: #fff;
    }
</style>

<section>
    <div class="gap no-bottom blackish low-opacity">
        <div class="bg-image"><img src="assets/img/resources/pagetop.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-top">
                        <ul class="bread-crumb">
                            <li><a href="about-us.html#" title="">Beranda</a></li>
                            <li>Dokumentasi Pedoman</li>
                        </ul>
                        <h2 class="page-title">Dokumentasi <span>Pedoman</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- page top title with bread crumb -->

<section>
    <div class="gap">
        <div class="container">
                
            <div class="row">
                <div class="wpb_column vc_main_column vc_column_container vc_col-sm-12 typo-default">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                <div class="wpb_wrapper">
                                    <div class="wptb-table-container wptb-table-2023 wptb-table-container-0">
                                        <div class="wptb-table-container-matrix">
                                            <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Cari Berdasarkan Deskripsi" style="margin-bottom: 10px;width: 30%;">
                                            <table id="pedoman-dataTable" data-reconstraction="1" class="wptb-preview-table wptb-element-main-table_setting-2023" data-reconstraction="1" style="border: 1px solid rgb(209, 209, 209); min-width: 100%; width: 100%; display: table;" data-wptb-table-tds-sum-max-width="538" data-wptb-cells-width-auto-count="3" data-wptb-extra-styles="LyogRW50ZXIgeW91ciBjdXN0b20gQ1NTIHJ1bGVzIGhlcmUgKi8=" role="table" data-wptb-header-background-color="#6AB43ECC" data-table-columns="5">
                                                <tbody id="laporheader">
                                                    <tr class="wptb-row" style="background-color: rgb(28, 98, 149);color: black;;" >
                                                        <td class="wptb-cell" data-y-index="0" data-x-index="0" style="border: 1px solid rgb(209, 209, 209); padding: 8px;" data-wptb-css-td-auto-width="true">
                                                            <div class="wptb-text-container wptb-ph-element wptb-element-text-1" style="font-size: 15px; color: rgb(0, 0, 0);">
                                                                <div class="" style="position: relative;">
                                                                    <p style="text-align: center;color:white !important">
                                                                        <strong>Cover</strong>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="wptb-cell" data-y-index="0" data-x-index="0" style="border: 1px solid rgb(209, 209, 209); padding: 8px;" data-wptb-css-td-auto-width="true">
                                                            <div class="wptb-text-container wptb-ph-element wptb-element-text-1" style="font-size: 15px; color: rgb(0, 0, 0);">
                                                                <div class="" style="position: relative;">
                                                                    <p style="text-align: center;color:white !important">
                                                                        <strong>Judul</strong>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="wptb-cell" data-y-index="0" data-x-index="1" style="border: 1px solid rgb(209, 209, 209); padding: 8px;" data-wptb-css-td-auto-width="true">
                                                            <div class="wptb-text-container wptb-ph-element wptb-element-text-2" style="font-size: 15px; color: rgb(0, 0, 0);">
                                                                <div class="" style="position: relative;">
                                                                    <p style="text-align: center;color:White !important"" class="">
                                                                        <strong>Deskripsi</strong>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="wptb-cell" data-y-index="0" data-x-index="2" style="border: 1px solid rgb(209, 209, 209); padding: 8px; width: 68px;">
                                                            <div class="wptb-text-container wptb-ph-element wptb-element-text-3" style="font-size: 15px; color: rgb(0, 0, 0);">
                                                                <div class="" style="position: relative;">
                                                                    <p style="text-align: center;color:white !important"">
                                                                        <strong>Tanggal</strong>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="wptb-cell" data-y-index="0" data-x-index="3" style="border: 1px solid rgb(209, 209, 209); padding: 8px;" data-wptb-css-td-auto-width="true">
                                                            <div class="wptb-text-container wptb-ph-element wptb-element-text-4" style="font-size: 15px; color: rgb(0, 0, 0);">
                                                                <div class="" style="position: relative;">
                                                                    <p style="text-align: center;color:white !important"" class="">
                                                                        <strong>Jenis Laporan</strong>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="wptb-cell" data-y-index="0" data-x-index="4" style="border: 1px solid rgb(209, 209, 209); padding: 8px; width: 84px;">
                                                            <div class="wptb-text-container wptb-ph-element wptb-element-text-5" style="color: rgb(0, 0, 0); font-size: 15px;">
                                                                <div class="" style="position: relative;">
                                                                    <p style="text-align: center;color:white !important"">
                                                                        <strong>Lihat</strong>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="wptb-row" hidden>
                                                        <td class="wptb-cell" data-y-index="1" data-x-index="0" style="border: 1px solid rgb(209, 209, 209); padding: 8px;" data-wptb-css-td-auto-width="true">
                                                            <div class="wptb-text-container wptb-ph-element wptb-element-text-6" style="font-size: 12px; color: rgb(0, 0, 0);">
                                                                <div class="" style="position: relative;"><p style="text-align: left;">Menuju Satu Data Persampahan Indonesia</p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="wptb-cell" data-y-index="1" data-x-index="1" style="border: 1px solid rgb(209, 209, 209); padding: 8px;" data-wptb-css-td-auto-width="true">
                                                            <div class="wptb-text-container wptb-ph-element wptb-element-text-7" style="font-size: 11px; color: rgb(0, 0, 0);">
                                                                <div class="" style="position: relative;"><p class="MsoNormal" style="margin-bottom: 18pt; text-align: left;">
                                                                    <em>National Project Management Consultant</em> 
                                                                    (NPMC) bersama CPMU ISWMP pada hari Jumat (16/7), telah mengadakan Workshop mengenai Forum Komunikasi Satu Data Bidang Persampahan. Workshop ini dihadiri oleh berbagai pemangku kepentingan antar Kementerian yakni Kementerian PUPR, Kementerian Lingkungan Hidup dan Kehutanan (KLHK), Kementerian Dalam Negeri, Bappenas, serta tim NPMC sendiri.</p>
                                                                    <p></p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="wptb-cell" data-y-index="1" data-x-index="2" style="border: 1px solid rgb(209, 209, 209); padding: 8px; width: 68px;">
                                                            <div class="wptb-text-container wptb-ph-element wptb-element-text-8" style="color: rgb(0, 0, 0); font-size: 12px;">
                                                                <div class="" style="position: relative;"><p style="text-align: center;">21-06-2021</p>
                                                                    <p></p>
                                                                </div></div>
                                                            </td>
                                                            <td class="wptb-cell" data-y-index="1" data-x-index="3" style="border: 1px solid rgb(209, 209, 209); padding: 8px;" data-wptb-css-td-auto-width="true">
                                                                <div class="wptb-text-container wptb-ph-element wptb-element-text-9" style="font-size: 12px; color: rgb(0, 0, 0);">
                                                                    <div class="" style="position: relative;"><p style="text-align: center;">Berita</p>
                                                                        <p></p>
                                                                    </div>
                                                                </div></td>
                                                                <td class="wptb-cell" data-y-index="1" data-x-index="4" style="border: 1px solid rgb(209, 209, 209); padding: 8px; width: 84px;">
                                                                    <div class="wptb-button-container wptb-ph-element wptb-element-button-1">
                                                                        <div style="justify-content: center;" class="wptb-button-wrapper wptb-size-xl">
                                                                            <a class="btn btn-success btn-block btn-sm" style="" target="_blank" href="https://drive.google.com/file/d/1TvRqfSaSfNF6ddbQwrl-MAbD72tgsAb2/view?usp=sharing">
                                                                                <i class="ion-ios-download"></i> Download
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section><!-- volunteer info section -->

{% endblock %}