{% extends "frontend/layout.html" %} {% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    .crop {
        width: 200px;
        height: 150px;
        overflow: hidden;
    }

    .crop img {
        height: 300px;
    }
    .tab-1 {
        padding: 2%;
    }

    #modal-show .modal-dialog {
        margin: 20vh auto 0px auto
    }

    .mySlides {display:none;}
</style>

<section>
    <div class="gap no-bottom blackish low-opacity">
        <div class="bg-image"><img src="assets/img/resources/pagetop.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-top">
                        <ul class="bread-crumb">
                            <li><a href="gallery-simple.html#" title="">Beranda</a></li>
                            <li>Galeri</li>
                        </ul>
                        <h2 class="page-title">Dokumentasi <span>Foto</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- page top title with bread crumb -->

<section>
    <div class="gap">
        <div class="">
            <div class="">
                <div class="col-sm-12">
                    <div class="product-filter">
                        <div class="row">
                            <div class="masonry">
                                
                                <!-- <div class="tab-1 col-sm-4">
                                    <div class="gallery-avatar">
                                        <a href="assets/img/galeri/foto/Citarum-penuh-Limbah3.jpg" data-showsocial="false"  class="html5lightbox crop" data-group="set2" title="">
                                            <img src="assets/img/galeri/foto/Citarum-penuh-Limbah3.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="tab-2 col-sm-4">
                                    <div class="gallery-avatar">
                                        <a href="assets/img/galeri/foto/sungai-citarum-5a8ebc2ca6b43.jpg" data-showsocial="false"  class="html5lightbox crop" data-group="set2" title="">
                                            <img src="assets/img/galeri/foto/sungai-citarum-5a8ebc2ca6b43.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="tab-3 col-sm-4">
                                    <div class="gallery-avatar">
                                        <a href="assets/img/galeri/foto/40565da2-2d6e-4030-8d7e-7654afd2d7ac.jpeg" data-showsocial="false"  class="html5lightbox crop" data-group="set2" title="">
                                            <img src="assets/img/galeri/foto/40565da2-2d6e-4030-8d7e-7654afd2d7ac.jpeg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="tab-4 col-sm-4">
                                    <div class="gallery-avatar">
                                        <a href="assets/img/galeri/foto/1.jpg" data-showsocial="false"  class="html5lightbox crop" data-group="set2" title="">
                                            <img src="assets/img/galeri/foto/1.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                
                                <div class="tab-3 col-sm-4">
                                    <div class="gallery-avatar">
                                        <a href="assets/img/galeri/foto/2.jpg" data-showsocial="false"  class="html5lightbox crop" data-group="set2" title="">
                                            <img src="assets/img/galeri/foto/2.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="tab-4 col-sm-4">
                                    <div class="gallery-avatar">
                                        <a href="assets/img/galeri/foto/.jpeg" data-showsocial="false"  class="html5lightbox crop" data-group="set2" title="">
                                            <img src="assets/img/galeri/foto/3.jpeg" alt="">
                                        </a>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="modal-show" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><h4 class="modal-title" id="judul-foto"></h4></center>
        </div>
        <div class="modal-body">
            <div class="w3-content w3-display-container" id="to-append">
                
            </div>
            <!-- <div class="row">
                <div class="col-sm-12"><img id="fotonya" width="100%" /></div>
                <div class="col-sm-12">
                    <span id="keterangan-foto"></span>
                </div>
            </div> -->
            
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
  
    </div>
</div>

{% endblock %}
