{% extends "frontend/layout.html" %} {% block content %}
<link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<style>
    #tab-outer {
  position:relative;
  font:normal 12px Arial,Sans-Serif;    
}

#tab-outer * {
  margin:0px 0px;
  padding:0px 0px;    
}

#tab-wrapper {
  list-style:none;
  height:30px;
}

#tab-wrapper li {
  margin:0px 0px 0px 2px;
  float:left;
  font-weight:bold;
}

#tab-wrapper li a {
  display:block;
  padding:0px 15px;
  line-height:30px;
  text-decoration:none;
  color:white;
  background-color:#58b9ff; 
}

#tab-wrapper li.active a {
  background-color:#1c6295;
}

#tab-body > div {
  background-color:#1c6295;
  color:white;
  padding:10px 15px;
  border-bottom:4px solid #1c6295;
  height:100%; /* Contoh */    
}

.page-top {
    padding-top: 0;
}

.page-top::before {
  content: none;
  height: 50px;
  left: 50%;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
  opacity: 0.5;
  position: absolute;
  top: -100px;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  width: 50px;
}

#myModal .modal-dialog {
    margin: 20vh auto 0px auto
}

#modal-lelang .modal-dialog {
    margin: 5vh auto 0px auto
}

#modal-pin .modal-dialog {
    margin: 30vh auto 0px auto;
    width: 20%;
}

.logo-mobile {
    display: none;
}

@media only screen and (min-width: 300px) {
    .container.logo-biasa {
        display: none!important;
    }
    .logo-mobile {
        display: block!important;
    }
    .language-select {
        display: none;
    }
}
@media only screen and (min-width: 500px) {
    .container.logo-biasa {
        display: none!important;
    }
    .logo-mobile {
        display: block!important;
    }
    .language-select {
        display: none;
    }
}
@media only screen and (min-width: 600px) {
    .container.logo-biasa {
        display: none!important;
    }
    .logo-mobile {
        display: block!important;
    }
    .language-select {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .logo-biasa {
        display: none!important;
    }
    .logo-mobile {
        display: block!important;
    }
    .language-select {
        display: none;
    }
}

.nice-select .current {
    font-size: 18px;
}

.nice-select .list .option {
    font-size: 18px;
}

.modal-dialog-lelang {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content-lelang {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.pin-salah {
    border: red 1px solid;
}

section {
    filter: blur(5px);
}

.badge-default {
    color: #000;
    background-color: #fff;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge-warning {
    color: #1f2d3d;
    background-color: #ffc107;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

</style>
<section>
    <div class="gap no-bottom" style="padding-top: 3%;">
        <!-- <div class="bg-image"><img src="assets/img/resources/pagetop.jpg" alt=""></div> -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-top">
                        <!-- <ul class="bread-crumb">
                            <li><a href="/" title="" style="color: black!important;">Beranda</a></li>
                            <li style="color: black!important;">Progres ISWMP</li>
                        </ul> -->
                        <div class="container logo-biasa "hidden>
                            <div class="row">
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-1">
                                    <img width="100%" src="assets/img/logo/2.png" alt="">
                                </div>
                                <div class="col-sm-1">
                                    <img width="100%" src="assets/img/logo/3.png" alt="">
                                </div>
                                <div class="col-sm-1">
                                    <img width="100%" src="assets/img/logo/4.png" alt="">
                                </div>
                                <div class="col-sm-1">
                                    <img width="100%" src="assets/img/logo/5.png" alt="">
                                </div>
                                <div class="col-sm-1">
                                    <img width="100%" src="assets/img/logo/6.png" alt="">
                                </div>
                                <div class="col-sm-1">
                                    <img width="100%" src="assets/img/logo/1.png" alt="">
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                        </div>
                        <table class="logo-mobile">
                            <tr>
                                <td><img width="70%" src="assets/img/logo/2.png" alt=""></td>
                                <td><img width="70%" src="assets/img/logo/3.png" alt=""></td>
                                <td><img width="70%" src="assets/img/logo/4.png" alt=""></td>
                                <td><img width="70%" src="assets/img/logo/5.png" alt=""></td>
                                <td><img width="70%" src="assets/img/logo/6.png" alt=""></td>
                                <td><img width="70%" src="assets/img/logo/1.png" alt=""></td>
                            </tr>
                        </table>
                        <h2 style="font-size:20px!important;padding-top: 15px;color: black!important;" class="page-title">Pelaksanaan Kegiatan ISWMP TA <thn id="tahun-kapan">2023</thn></h2>
                        <h2 style="font-size:20px!important;color: black!important;" class="page-title">keuangan:  <span id="inisumkeu">0</span>% / Fisik: <span id="inisumfis">0</span>% / PV (Progress Variant): <span id="iniactpv">0</span></h2>
                        <h2 style="font-size:20px!important;color: black!important;" class="page-title">Status: <span id="waktunya"></span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="gap nogap">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <button name="ini-btn" type="button" onclick="viewtable(this, 'ini-lelang')" class="btn btn-info" >Monitoring Progres Lelang</button>
                </div>
                <div class="col-sm-2">
                    <button name="ini-btn" type="button" onclick="viewtable(this, 'ini-fisik')" class="btn btn-info" >Monitoring Progres Konstruksi</button>
                </div>
                <div class="col-sm-2">
                    <button name="ini-btn" type="button" onclick="viewtable(this, 'ini-uang')" class="btn btn-info" style="margin-left: 14%;">Monitoring Status Keuangan</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 ini-view" id="ini-lelang">
                    <br/>
                    <label>Monitoring Progres Lelang</label>
                    <div class="row">
                        <div class="col-sm-2">
                            <select id="lelang-tahun">
                                {% for x in 2020..2025 %}
                                    <option value="{{x}}" {{x == '2023'? 'selected': ''}}>{{x}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select id="bulan-target">
                                <option value="0">Bulan...</option>
                                <option value="1">Januari</option>
                                <option value="2">Februari</option>
                                <option value="3">Maret</option>
                                <option value="4">April</option>
                                <option value="5">Mei</option>
                                <option value="6">Juni</option>
                                <option value="7">Juli</option>
                                <option value="8">Agustus</option>
                                <option value="9">September</option>
                                <option value="10">Oktober</option>
                                <option value="11">November</option>
                                <option value="12">Desember</option>
                            </select>
                        </div>
                    </div>
                   <div class="col-sm-12">
                    <iframe id="frame-id" src="rekaplelang" title="description" height="900"></iframe>
                   </div>
                    <table class="table table-bordered table-hover" id="listlelang">
                        <thead>
                            <tr>
                                <th width="100%" style="text-align: center;">No</th>
                                <th width="100%" style="text-align: center;">Paket Kegiatan</th> <!--1-->
                                <th width="100%" style="text-align: center;">Metode Lelang</th> <!--2-->
                                <th width="100%" style="text-align: center;">Jenis Kontrak</th> <!--3-->
                                <th width="100%" style="text-align: center;">Pagu</th> <!--4-->
                                <th width="100%" style="text-align: center;">Nilai Pagu Pengadaan (HPS)</th> <!--5-->
                                <th width="100%" style="text-align: center;">Institusi Pelaksana</th> <!--6-->
                                <th width="100%" style="text-align: center;">Nilai Kontrak</th> <!--7-->
                                <th width="100%" style="text-align: center;">Target Lelang</th> <!--8-->
                                <th width="100%" style="text-align: center;">Tanggal Tayang Lelang</th> <!--9-->
                                <th width="100%" style="text-align: center;">Tanggal SPMK</th> <!--10-->
                                <th width="100%" style="text-align: center;">Tanggal Akhir Pekerjaan</th> <!--11-->
                                <th width="100%" style="text-align: center;">Status</th> <!--12-->
                                <th width="100%" style="text-align: center;">Nama Pelaksana Pekerjaan</th> <!--13-->
                                <th width="100%" style="text-align: center;">Keterangan</th> <!--14-->
                                <th width="100%" style="text-align: center;">Action</th> <!--15-->
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-12 ini-view" id="ini-fisik">
                    <br/>
                    <label>Monitoring Progres Konstruksi</label>
                    <div class="row">
                        <div class="col-sm-2">
                            <select id="fisik-tahun">
                                {% for x in 2022..2025 %}
                                    <option value="{{x}}" {{x == '2023'? 'selected': ''}}>{{x}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="quick">
                        <thead>
                            <tr>
                                <th rowspan="2"><center>No</center></th>
                                <th rowspan="2"><center>Provinsi</center></th>
                                <th rowspan="2"><center>Kode</center></th>
                                <th rowspan="2"><center>Nama Paket</center></th>
                                <th rowspan="2"><center>Vol</center></th>
                                <th rowspan="2"><center>Satuan</center></th>
                                <th rowspan="2"><center>Kategori</center></th>
                                <th rowspan="2"><center>K/S/AU</center></th>
                                <th rowspan="2"><center>SYC/MYC</center></th>
                                <th colspan="3"><center>Pagu</center></th>
                                <th colspan="2"><center>Realisasi</center></th>
                                <!-- <th colspan="2">Rencana Akhir</th> -->
                                <th colspan="2"><center>Progres</center></th>
                                <th colspan="2">Deviasi</th>
                                <th rowspan="2">Kurva</th>
                            </tr>
                            <tr>
                                <th><center>RPM</center></th>
                                <th><center>TOTAL PAGU</center></th>
                                <th><center>Total</center></th>
                                <!-- <th><center>RPM</center></th> -->
                                <th style="width: 10%;"><center>TOTAL PAGU</center></th>
                                <th><center>Total</center></th>
                                <!-- <th>Keu(%)</th>
                                <th>Fis(%)</th> -->
                                <th><center>Keu(%)</center></th>
                                <th><center>Fis(%)</center></th>
                                <th><center>Keu(%)</center></th>
                                <th><center>Fis(%)</center></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th colspan="14" class="text-align">Total</th>
                                <th><span id="total_keuangan_foot"></span></th>
                                <th><span id="total_fisik_foot"></span></th>
                                <th colspan="3"></th>
                            </tr>
                        </tfoot>
                    </table>
                    </div>
                    <br/>
                </div>
                <div class="col-md-12 ini-view" id="ini-uang">
                    <div class="row">
                        <div class="col-sm-12">
                            <br/>
                            <h3>SIMULASI PROYEKSI KINERJA PHLN PER TRIWULAN (BERDASARKAN PV)</h3>
                            <h4>Improvement of Solid Waste Management to Support Regional Area and Metropolitan Cities (ISWMP)</h4>
                        </div>
                        <div class="col-sm-12">
                            <br/>
                            <input style="width: 85px;"  id="param" value="User" hidden>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="listlelang">
                                    <thead>
                                        <tr>
                                            <th rowspan="2"></th>
                                            <th rowspan="2" style="background: #548235;color: #fff;">Lender Executing Agency Allocated (USD)
                                            </th>
                                            <th style="background: #548235;color: #fff;">World Bank-DJCK; 100.000.000; 03/04/2020 - 30/11/2025</th>
                                        </tr>
                                        <tr>
                                            <th style="background: #548235;color: #fff;">Q1-20</th>
                                            <th style="background: #548235;color: #fff;">Q2-20</th>
                                            <th style="background: #548235;color: #fff;">Q3-20</th>
                                            <th style="background: #548235;color: #fff;">Q4-20</th>
                                            <th style="background: #548235;color: #fff;">Q1-21</th>
                                            <th style="background: #548235;color: #fff;">Q2-21</th>
                                            <th style="background: #548235;color: #fff;">Q3-21</th>
                                            <th style="background: #548235;color: #fff;">Q4-21</th>
                                            <th style="background: #548235;color: #fff;">Q1-22</th>
                                            <th style="background: #548235;color: #fff;">Q2-22</th>
                                            <th style="background: #548235;color: #fff;">Q3-22</th>
                                            <th style="background: #548235;color: #fff;">Q4-22</th>
                                            <th style="background: #548235;color: #fff;">Q1-23</th>
                                            <th style="background: #548235;color: #fff;">Q2-23</th>
                                            <th style="background: #548235;color: #fff;">Q3-23</th>
                                            <th style="background: #548235;color: #fff;">Q4-23</th>
                                            <th style="background: #548235;color: #fff;">Q1-24</th>
                                            <th style="background: #548235;color: #fff;">Q2-24</th>
                                            <th style="background: #548235;color: #fff;">Q3-24</th>
                                            <th style="background: #548235;color: #fff;">Q4-24</th>
                                            <th style="background: #548235;color: #fff;">Q1-25</th>
                                            <th style="background: #548235;color: #fff;">Q2-25</th>
                                            <th style="background: #548235;color: #fff;">Q3-25</th>
                                        </tr>
                                        <tr>
                    
                                            <th rowspan="5" style="background: #002060;color: #fff;vertical-align: middle;">Rencana (Plan OWP #3)</th>
                                            <th style="background: #002060;color: #fff;">Disbursement Plan</th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-1" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-2" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-3" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-4" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-5" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-6" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-7" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-8" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-9" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-10" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-11" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-12" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-13" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-14" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-15" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-16" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-17" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-18" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-19" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-20" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-21" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-22" ></span></th>
                                            <th style="background: #002060;color: #fff;"><span id="dp-23" ></span></th>
                                        </tr>
                                        <tr>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;">PV Projection (PV)</th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-1" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-2" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-3" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-4" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-5" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-6" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-7" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-8" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-9" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-10" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-11" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-12" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-13" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-14" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-15" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-16" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-17" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-18" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-19" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-20" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-21" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-22" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="pv-23" ></span></th>
                                        </tr>
                                        <tr>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;">Disb Ratio (DR) rencana</th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-1" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-2" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-3" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-4" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-5" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-6" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-7" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-8" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-9" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-10" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-11" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-12" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-13" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-14" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-15" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-16" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-17" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-18" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-19" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-20" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-21" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-22" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="dr-23" ></span></th>
                                        </tr>
                                        <tr>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;">Elapse Time Ratio (ER)</th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-1" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-2" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-3" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-4" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-5" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-6" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-7" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-8" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-9" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-10" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-11" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-12" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-13" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-14" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-15" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-16" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-17" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-18" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-19" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-20" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-21" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-22" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="er-23" ></span></th>
                                        </tr>
                                        <tr>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;">Status Disb Plan</th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-1"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-2"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-3"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-4"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-5"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-6"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-7"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-8"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-9"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-10"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-11"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-12"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-13"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-14"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-15"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-16"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-17"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-18"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-19"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-20"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-21"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-22"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="stat-23"></span></th>
                                        </tr>
                                        <tr>
                                            <th rowspan="5" style="background: #EDEDED;vertical-align: middle;">Realisasi & Update Plan OWP</th>
                                        </tr>
                                        <tr>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;">Actual Disbursement</th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-1"></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-2"></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-3"></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-4"></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-5"></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-6"></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-7"></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-8"></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-9"></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-10" ></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-11" ></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-12" ></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-13" ></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-14" ></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-15" ></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-16" ></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-17" ></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-18" ></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-19" ></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-20" ></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-21" ></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-22" ></span></th>
                                            <th style="background: #333F4F;border: 2px solid #fff;color: #fff;"><span id="act-dis-23" ></span></th>
                                        </tr>
                                        <tr>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;">Actual DR</th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-1" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-2" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-3" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-4" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-5" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-6" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-7" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-8" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-9" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-10" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-11" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-12" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-13" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-14" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-15" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-16" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-17" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-18" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-19" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-20" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-21" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-22" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-dr-23" ></span></th>
                                        </tr>
                                        <tr>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;">Actual PV</th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-1" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-2" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-3" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-4" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-5" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-6" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-7" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-8" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-9" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-10" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-11" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-12" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-13" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-14" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-15" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-16" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-17" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-18" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-19" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-20" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-21" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-22" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-pv-23" ></span></th>
                                        </tr>
                                        <tr>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;">Actual Status</th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-1"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-2"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-3"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-4"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-5"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-6"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-7"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-8"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-9"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-10"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-11"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-12"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-13"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-14"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-15" ></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-16"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-17"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-18"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-19"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-20"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-21"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-22"></span></th>
                                            <th style="background: #D9E1F2;border: 2px solid #fff;"><span id="act-stat-23"></span></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <br/>
                        </div>
                        <div class="col-sm-12">
                            <div id="chart-uang"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br/>
<section>
    <div class="gap nogap" id="chart_kontruksi" hidden>
        <div class="container">
            <div class="row" hidden>
                <div id="chart_luar"></div>
            </div>
        </div>
    </div>
<br/>
</section>
<section>
    <div class="gap nogap">
        <div class="container">
            <div class="row">
                <div id="tab-outer">
                    <ul id="tab-wrapper">
                        <li><a href="#tab1">Kota Bandung</a></li>
                        <li><a href="#tab2">Kota Cimahi</a></li>
                        <li><a href="#tab3">Kab Bandung</a></li>
                        <li><a href="#tab4">Kab Sumedang</a></li>
                        <li><a href="#tab5">Kab Karawang</a></li>
                        <li><a href="#tab6">Kab Bekasi</a></li>
                        <li><a href="#tab7">Kab Purwakarta</a></li>
                        <li><a href="#tab8">Kab Cianjur</a></li>
                        <li><a href="#tab9">Kab Bandung barat</a></li>
                        <li><a href="#tab10">Kota Denpassar</a></li>
                    </ul>
                    <div id="tab-body">
                        <div id="tab1">
                            <iframe src="https://drive.google.com/file/d/1Z2kYW0JfxXv-udc2usBz7K-C-pDn8GSu/preview" width="1024" height="1060"></iframe>
                        </div>
                        <div id="tab2">
                            <iframe src="https://drive.google.com/file/d/1RaN6xgepZbsyv5_ctKT8a65j3mVG-J6Q/preview" width="1024" height="1060"></iframe>
                        </div>
                        <div id="tab3">
                            <iframe src="https://drive.google.com/file/d/14X7HefUDN52g1CrrcjMPva1gQEA9entG/preview" width="1024" height="1060"></iframe>
                        </div>
                        <div id="tab4">
                            <iframe src="https://drive.google.com/file/d/1K6tsje86fUOzTeJu1gG5nRu8iblcRhiS/preview" width="1024" height="1060"></iframe>
                        </div>
                        <div id="tab5">
                            <iframe src="https://drive.google.com/file/d/1nLtqYQnwDI_uhHoez7SD_IgMtD7maGpW/preview" width="1024" height="1060"></iframe>
                        </div>
                        <div id="tab6">
                            <iframe src="https://drive.google.com/file/d/1BQLDPCOra-vRkBWJzEXT9F6GN1RI8IyY/preview" width="1024" height="1060"></iframe>
                            <embed src="assets/pdf/kab bekasi.pdf" width="100%" height="1000em" type="application/pdf"></embed>
                        </div>
                        <div id="tab7">
                            <iframe src="https://drive.google.com/file/d/1jKLGpiJpeuv4n02fCBlldWoW8xvjrv6S/preview" width="1024" height="1060"></iframe>
                        </div>
                        <div id="tab8">
                            <iframe src="https://drive.google.com/file/d/1rnDsZD2k5OSDGSTFhEuV6xthDlUY1YYv/preview" width="1024" height="1060"></iframe>
                        </div>
                        <div id="tab9">
                            <iframe src="https://drive.google.com/file/d/1CSbq7N66_N2bShLgpU--Sj7UeLV92oHQ/preview" width="1024" height="1060"></iframe>
                        </div>
                        <div id="tab10">
                            <iframe src="https://drive.google.com/file/d/1_GxzDQDTpjE2LXlpHjF4pc0hhkWYSr_x/preview" width="1024" height="1060"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div id="chart"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
</div>

<div id="modal-lelang" class="modal fade" role="dialog" style="z-index: 9999999;">
    <div class="modal-dialog">
  
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div> -->
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div id="link-lelang"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
</div>

<div class="modal fade" id="modal-pin" data-backdrop="static">
    <div class="modal-dialog modal-sm card card-danger card-outline">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><center>Masukan PIN</center></h4>
        </div>
        <div class="modal-body">
            <input type="password" id="pin" class="form-control">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-block btn-warning" onclick="checkpin()" id="submit-pin">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
              </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}
