{% extends "admin/layout.html" %} {% block content %}
<style>
	.custom-file-label::after {
		width: 100%;
	}
</style>
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-8">
				<h1>
					<i class="nav-icon fa fa-clone"></i> Tahap Pasca Pelaksanaan Kegiatan
				</h1>
			</div>
			<div class="col-sm-4">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item">
						<a href="#">Operasi dan Pemeliharaan Infrastruktur (O/P)</a>
					</li>
					<li class="breadcrumb-item active">List data</li>
				</ol>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
	<!-- Default box -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card card-lightblue card-outline">
					<div class="card-header">
						<h1 class="card-title">
							Operasi dan Pemeliharaan Infrastruktur (O/P)
						</h1>

						<div class="card-tools">
							<div class="input-group input-group-sm"></div>
						</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-12 col-sm-12">
								<div class="card card-lightblue card-outline card-outline-tabs">
									<div class="card-header p-0 border-bottom-0">
										<ul
											class="nav nav-tabs"
											id="custom-tabs-four-tab"
											role="tablist"
										>
											<li class="nav-item">
												<a
													class="nav-link active"
													id="custom-1"
													data-toggle="pill"
													href="#tab_1"
													role="tab"
													aria-controls="custom-tabs-four-home"
													aria-selected="true"
													>Profil Infrastruktur Terbangun</a
												>
											</li>
											<li class="nav-item">
												<a
													class="nav-link"
													id="custom-2"
													data-toggle="pill"
													href="#tab_2"
													role="tab"
													aria-controls="custom-tabs-four-profile"
													aria-selected="false"
													>Aspek Kelembagaan</a
												>
											</li>
											<li class="nav-item">
												<a
													class="nav-link"
													id="custom-3"
													data-toggle="pill"
													href="#tab_3"
													role="tab"
													aria-controls="custom-tabs-four-messages"
													aria-selected="false"
													>Aspek Peraturan</a
												>
											</li>
											<li class="nav-item">
												<a
													class="nav-link"
													id="custom-4"
													data-toggle="pill"
													href="#tab_4"
													role="tab"
													aria-controls="custom-tabs-four-settings"
													aria-selected="false"
													>Aspek Pembiayaan</a
												>
											</li>
											<li class="nav-item">
												<a
													class="nav-link"
													id="custom-5"
													data-toggle="pill"
													href="#tab_5"
													role="tab"
													aria-controls="custom-tabs-four-settings"
													aria-selected="false"
													>Aspek Peran Serta Masyarakat/ Swasta
												</a>
											</li>
											<li class="nav-item">
												<a
													class="nav-link"
													id="custom-6"
													data-toggle="pill"
													href="#tab_6"
													role="tab"
													aria-controls="custom-tabs-four-settings"
													aria-selected="false"
													>Aspek Teknis Operasional</a
												>
											</li>
										</ul>
									</div>
									<div class="card-body">
										<div class="tab-content" id="custom-tabs-four-tabContent">
											<div
												class="tab-pane fade show active"
												id="tab_1"
												role="tabpanel"
												aria-labelledby="custom-tabs-four-home-tab"
											>
												<div class="row">
													<div class="col-sm-10">
														<h3>1. Profil Infrastruktur Terbangun</h3>
													</div>
													<div class="col-sm-2">
														<div
															class="btn btn-success pull-right"
															id="add-data-1"
														>
															<i class="fas fa-plus"></i
															><span> Tambah Data</span>
														</div>
													</div>
												</div>
												<hr />
												<input id="param" value="" hidden />
												<div class="table-responsive">
													<table
														class="table table-bordered table-hover datatable"
														id="list_1"
													>
														<thead>
															<tr>
																<th>No</th>
																<th>TPST</th>
																<th>Tahun Anggaran</th>
																<th>Nama Paket</th>
																<th>Satuan Kerja</th>
																<th>Lokasi Pekerjaan</th>
																<th>Nilai Pagu Paket</th>
																<th>Jenis Kontrak</th>
																<th>Tanggal Kontrak</th>
																<th>Koordinat</th>
																<th>Ruang lingkup pekerjaan</th>
																<th>Kapasitas</th>
																<th>Target penerima manfaat</th>
																<th>Realisasi penerima manfaat</th>
																<th></th>
															</tr>
														</thead>
													</table>
												</div>
											</div>
											<div
												class="tab-pane fade"
												id="tab_2"
												role="tabpanel"
												aria-labelledby="custom-tabs-four-profile-tab"
											>
												<div class="row">
													<div class="col-sm-10">
														<h3>2. Aspek Kelembagaan</h3>
													</div>
													<div class="col-sm-2">
														<div
															class="btn btn-success pull-right"
															id="add-data-2"
														>
															<i class="fas fa-plus"></i
															><span> Tambah Data</span>
														</div>
													</div>
												</div>
												<hr />
												<input id="param" value="" hidden />
												<table
													class="table table-bordered table-hover datatable"
													id="list_2"
												>
													<thead>
														<tr>
															<th>No</th>
															<th>TPST</th>
															<th>
																Ketersediaan peraturan tentang tugas dan fungsi
																institusi pengelola
															</th>
															<th>Ketersediaan lembaga pengelola</th>
															<th>
																Ketersediaan struktur organisasi lembaga
																pengelola
															</th>
															<th>Kesiapan kompetensi sumber daya manusia</th>
															<th>Ketersediaan Pendampingan Untuk Operator</th>
															<th></th>
														</tr>
													</thead>
												</table>
											</div>
											<div
												class="tab-pane fade"
												id="tab_3"
												role="tabpanel"
												aria-labelledby="custom-tabs-four-profile-tab"
											>
												<div class="row">
													<div class="col-sm-10">
														<h3>3. Aspek Peraturan</h3>
													</div>
													<div class="col-sm-2">
														<div
															class="btn btn-success pull-right"
															id="add-data-3"
														>
															<i class="fas fa-plus"></i
															><span> Tambah Data</span>
														</div>
													</div>
												</div>
												<hr />
												<input id="param" value="" hidden />
												<table
													class="table table-bordered table-hover datatable"
													id="list_3"
												>
													<thead>
														<tr>
															<th>No</th>
															<th>TPST</th>
															<th>
																Ketersediaan peraturan daerah tentang
																pengelolaan sampah
															</th>
															<th>
																Ketersediaan peraturan daerah tentang retribusi
																pelayanan pengelolaan sampah
															</th>
															<th></th>
														</tr>
													</thead>
												</table>
											</div>
											<div
												class="tab-pane fade"
												id="tab_4"
												role="tabpanel"
												aria-labelledby="custom-tabs-four-profile-tab"
											>
												<div class="row">
													<div class="col-sm-10">
														<h3>4. Aspek Pembiayaan</h3>
													</div>
													<div class="col-sm-2">
														<div
															class="btn btn-success pull-right"
															id="add-data-4"
														>
															<i class="fas fa-plus"></i
															><span> Tambah Data</span>
														</div>
													</div>
												</div>
												<hr />
												<input id="param" value="" hidden />
												<div class="table-responsive">
													<table
														class="table table-bordered table-hover datatable"
														id="list_4"
													>
														<thead>
															<tr>
																<th>No</th>
																<th>TPST</th>
																<th>
																	Ketersediaan alokasi anggaran untuk
																	operasional pemeliharaan
																</th>
																<th>
																	Capaian Penerimaan Retribusi Persampahan
																</th>
																<th></th>
															</tr>
														</thead>
													</table>
												</div>
											</div>
											<div
												class="tab-pane fade"
												id="tab_5"
												role="tabpanel"
												aria-labelledby="custom-tabs-four-profile-tab"
											>
												<div class="row">
													<div class="col-sm-10">
														<h3>5. Aspek Peran Serta Masyarakat/ Swasta</h3>
													</div>
													<div class="col-sm-2">
														<div
															class="btn btn-success pull-right"
															id="add-data-5"
														>
															<i class="fas fa-plus"></i
															><span> Tambah Data</span>
														</div>
													</div>
												</div>
												<hr />
												<input id="param" value="" hidden />
												<table
													class="table table-bordered table-hover datatable"
													id="list_5"
												>
													<thead>
														<tr>
															<th>No</th>
															<th>TPST</th>
															<th>Kemauan peran serta masyarakat</th>
															<th>Kerjasama dengan pihak swasta</th>
															<th></th>
														</tr>
													</thead>
												</table>
											</div>
											<div
												class="tab-pane fade"
												id="tab_6"
												role="tabpanel"
												aria-labelledby="custom-tabs-four-profile-tab"
											>
												<div class="row">
													<div class="col-sm-10">
														<h3>6. Aspek Teknis Operasional</h3>
													</div>
													<div class="col-sm-2">
														<div
															class="btn btn-success pull-right"
															id="add-data-6"
														>
															<i class="fas fa-plus"></i
															><span> Tambah Data</span>
														</div>
													</div>
												</div>
												<hr />
												<input id="param" value="" hidden />
												<table
													class="table table-bordered table-hover datatable"
													id="list_6"
												>
													<thead>
														<tr>
															<th>No</th>
															<th>TPST</th>
															<th>Kondisi bangunan</th>
															<th>Kelengkapan sarana dan prasarana</th>
															<th>
																Ketersediaan SOP untuk operasional dan
																pemeliharaan
															</th>
															<th>
																Ketersediaan laporan kegiatan operasional dan
																pemeliharaan
															</th>
															<th>
																Serah terima aset BMN / penghapusan aset kondisi
																rusak
															</th>
															<th></th>
														</tr>
													</thead>
												</table>
											</div>
										</div>
									</div>
									<!-- /.card -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal-1">
		<div class="modal-dialog modal-lg card card-primary card-outline">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">1. Profil Infrastruktur Terbangun</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="id_1" hidden />
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Pilih TPST <code>*</code>:</label>
								<select
									id="tpst_1"
									name="profil-input"
									class="form-control select2bs4"
								></select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Tahun Anggaran <code>*</code>:</label>
								<input
									id="tahun_profil"
									name="profil-input"
									type="text"
									class="form-control"
									placeholder="..."
								/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Nama Paket <code>*</code>:</label>
								<input
									id="paket_profil"
									name="profil-input"
									type="text"
									class="form-control"
									placeholder="..."
								/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Satuan Kerja<code>*</code>:</label>
								<input
									id="satuan_profil"
									name="profil-input"
									type="text"
									class="form-control"
									placeholder="..."
								/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Nilai Pagu Paket<code>*</code>:</label>
								<input
									id="nilai_profil"
									name="profil-input"
									type="text"
									class="form-control"
									placeholder="..."
								/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Lokasi Pekerjaan <code>*</code>:</label>
								<input
									id="lokasi_profil"
									name="profil-input"
									type="text"
									class="form-control"
									placeholder="..."
								/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Jenis Kontrak <code>*</code>:</label>
								<select
									id="kontrak_profil"
									name="profil-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">Lumpsum</option>
									<option value="2">Harga Satuan</option>
									<option value="3">Gabungan</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Tanggal Kontrak <code>*</code>:</label>
								<input
									id="tanggal_profil"
									name="profil-input"
									type="text"
									class="form-control"
									placeholder="..."
								/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Koordinat<code>*</code>:</label>
								<input
									id="koordinat_profil"
									name="profil-input"
									type="text"
									class="form-control"
									placeholder="..."
								/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Ruang lingkup pekerjaan <code>*</code>:</label>
								<input
									id="lingkup_profil"
									name="profil-input"
									type="text"
									class="form-control"
									placeholder="..."
								/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Kapasitas (Ton/hari)<code>*</code>:</label>
								<input
									id="kapasitas_profil"
									name="profil-input"
									type="text"
									class="form-control"
									placeholder="..."
								/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Target penerima manfaat <code>*</code>:</label>
								<input
									id="target_profil"
									name="profil-input"
									type="text"
									class="form-control"
									placeholder="..."
								/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Realisasi penerima manfaat <code>*</code>:</label>
								<input
									id="realisasi_profil"
									name="profil-input"
									type="text"
									class="form-control"
									placeholder="..."
								/>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">Tutup</button> -->
					<button id="save-data-1" type="button" class="btn btn-success">
						<i class="fas fa-check"> </i> Simpan
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="modal-2">
		<div class="modal-dialog modal-lg card card-primary card-outline">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">2. Aspek Kelembagaan</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="id_2" hidden />
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Pilih TPST <code>*</code>:</label>
								<select
									id="tpst_2"
									name="kelembagaan-input"
									class="form-control select2bs4"
								></select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label
									>Ketersediaan peraturan tentang tugas dan fungsi institusi
									pengelola <code>*</code>:</label
								>
								<select
									id="tugasfungsi"
									name="kelembagaan-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Ada peraturan terkait tugas dan fungsi institusi yang
										menangani sistem pengelolaan persampahan
									</option>
									<option value="2">
										Masih dalam proses penyusunan peraturan terkait tugas dan
										fungsi institusi yang menangani sistem pengelolaan
										persampahan
									</option>
									<option value="3">
										Tidak ada peraturan terkait tugas dan fungsi yang secara
										jelas menangani sistem pengelolaan persampahan
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Ketersediaan lembaga pengelola<code>*</code>:</label>
								<select
									id="lembaga"
									name="kelembagaan-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Lembaga pengelola sudah terpisah dari regulator dalam bentuk
										PPK BLUD atau BUMD
									</option>
									<option value="2">
										Lembaga pengelola sudah terpisah dari regulator dalam bentuk
										UPTD
									</option>
									<option value="3">
										Lembaga pengelola belum terpisah antara regulator dan
										operator
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label
									>Ketersediaan struktur organisasi lembaga
									pengelola<code>*</code>:</label
								>
								<select
									id="struktur"
									name="kelembagaan-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Tersedia struktur organisasi lembaga pengelola dan sesuai
										dengan kapasitas yang dibutuhkan
									</option>
									<option value="2">
										Tersedia struktur organisasi lembaga pengelola tapi tidak
										sesuai dengan kapasitas yang dibutuhkan
									</option>
									<option value="3">
										Tidak tersedia struktur organisasi lembaga pengelola
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label
									>Kesiapan kompetensi sumber daya manusia<code>*</code>:</label
								>
								<select
									id="kompetensi"
									name="kelembagaan-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										≥ 50% pegawai telah mendapatkan pelatihan atau diseminas
										atau workshop
									</option>
									<option value="2">
										< 50% pegawai telah mendapatkan pelatihan atau diseminasi
										atau workshop
									</option>
									<option value="3">
										Tidak ada pegawai yang mendapatkan pelatihan atau diseminasi
										atau workshop
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label
									>Ketersediaan Pendampingan Untuk Operator
									<code>*</code>:</label
								>
								<select
									id="pendampingan"
									name="kelembagaan-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Sudah ada pendampingan operasional dan pemeliharaan
										infrastruktur persampahan (TPST) kepada operator secara
										rutin (periodik)
									</option>
									<option value="2">
										Sudah ada pendampingan operasional dan pemeliharaan
										infrastruktur persampahan (TPST) kepada operator hanya pada
										saat serah terima infrastruktur saja
									</option>
									<option value="3">
										Belum ada pendampingan operasional dan pemeliharaan
										infrastruktur persampahan (TPST) kepada operator
									</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">Tutup</button> -->
					<button id="save-data-2" type="button" class="btn btn-success">
						<i class="fas fa-check"> </i> Simpan
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="modal-3">
		<div class="modal-dialog modal-lg card card-primary card-outline">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">3. Aspek Peraturan</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="id_3" hidden />
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Pilih TPST <code>*</code>:</label>
								<select
									id="tpst_3"
									name="peraturan-input"
									class="form-control select2bs4"
								></select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label
									>Ketersediaan peraturan daerah tentang pengelolaan sampah
									<code>*</code>:</label
								>
								<select
									id="pengelolaan"
									name="peraturan-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Memiliki peraturan tentang sistem pengelolaan sampah
									</option>
									<option value="2">
										Masih dalam proses penyusunan peraturan tentang sistem
										pengelolaan sampah
									</option>
									<option value="3">
										Tidak memiliki peraturan yang terkait sistem pengelolaan air
										limbah domestik
									</option>
									<option value="4">sistem pengelolaan persampahan</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label
									>Ketersediaan peraturan daerah tentang retribusi pelayanan
									pengelolaan sampah <code>*</code>:</label
								>
								<select
									id="retribusi"
									name="peraturan-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Memiliki peraturan yang terkait retribusi pelayanan
										pengelolaan sampah
									</option>
									<option value="2">
										Masih dalam proses penyusunan peraturan tentang retribusi
										pengelolaan sampah
									</option>
									<option value="3">
										Tidak memiliki peraturan yang terkait retribusi pelayanan
										pengelolaan sampah
									</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">Tutup</button> -->
					<button id="save-data-3" type="button" class="btn btn-success">
						<i class="fas fa-check"> </i> Simpan
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="modal-4">
		<div class="modal-dialog modal-lg card card-primary card-outline">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">4. Aspek Pembiayaan</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="id_4" hidden />
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Pilih TPST <code>*</code>:</label>
								<select
									id="tpst_4"
									name="pembiayaan-input"
									class="form-control select2bs4"
								></select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label
									>Ketersediaan alokasi anggaran untuk operasional pemeliharaan
									<code>*</code>:</label
								>
								<select
									id="alokasi"
									name="pembiayaan-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Ada alokasi anggaran dan mencukupi dengan biaya operasional
										dan pemeliharaan
									</option>
									<option value="2">
										Ada alokasi anggaran tetapi tidak mencukupi dengan biaya
										operasional dan pemeliharaan
									</option>
									<option value="3">
										Tidak ada alokasi anggaran biaya operasional dan
										pemeliharaan
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label
									>Capaian Penerimaan Retribusi
									Persampahan<code>*</code>:</label
								>
								<select
									id="capaian"
									name="pembiayaan-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Capaian penerimaan retribusi persampahan > 75% dari jumlah
										KK atau penduduk yang terlayani
									</option>
									<option value="2">
										Capaian penerimaan retribusi persampahan 50% sampai 75% dari
										jumlah KK atau penduduk yang terlayani
									</option>
									<option value="3">
										Capaian penerimaan retribusi persampahan < 50% dari jumlah
										KK atau penduduk yang terlayani
									</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">Tutup</button> -->
					<button id="save-data-4" type="button" class="btn btn-success">
						<i class="fas fa-check"> </i> Simpan
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="modal-5">
		<div class="modal-dialog modal-lg card card-primary card-outline">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">5. Aspek Peran Serta Masyarakat/ Swasta</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="id_5" hidden />
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Pilih TPST <code>*</code>:</label>
								<select
									id="tpst_5"
									name="peran-input"
									class="form-control select2bs4"
								></select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Kemauan peran serta masyarakat<code>*</code>:</label>
								<select
									id="masyarakat"
									name="peran-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Ada peran aktif dari masyarakat terhadap pengelolaan
										persampahan secara rutin (dikelola sesuai perencanaan)
									</option>
									<option value="2">
										Ada peran aktif dari masyarakat terhadap pengelolaan
										persampahan tapi tidak rutin (tidak terkelola sesuai
										perencanaan)
									</option>
									<option value="3">
										Tidak ada peran aktif dari masyarakat terhadap pengelolaan
										persampahan
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Kerjasama dengan pihak swasta <code>*</code>:</label>
								<select
									id="swasta"
									name="peran-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Ada kerjasama dengan pihak swasta dalam pengelolaan sampah
										dan memiliki MOU
									</option>
									<option value="2">
										Ada kerjasama dengan pihak swasta terhadap pengelolaan
										sampah tapi tidak memiliki MOU
									</option>
									<option value="3">
										Tidak ada kerjasama dengan swasta terhadap pengelolaan
										sampah
									</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">Tutup</button> -->
					<button id="save-data-5" type="button" class="btn btn-success">
						<i class="fas fa-check"> </i> Simpan
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="modal-6">
		<div class="modal-dialog modal-lg card card-primary card-outline">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">6. Aspek Teknis Operasional</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="id_6" hidden />
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Pilih TPST <code>*</code>:</label>
								<select
									id="tpst_6"
									name="operasional-input"
									class="form-control select2bs4"
								></select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Kondisi bangunan <code>*</code>:</label>
								<select
									id="kondisi"
									name="operasional-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Kondisi bangunan dan fasilitas pendukung sesuai perencanaan
										dan berfungsi optimal
									</option>
									<option value="2">
										Kondisi bangunan dan fasilitas pendukung sesuai perencanaan,
										tetapi tidak berfungsi optimal
									</option>
									<option value="3">
										Kondisi bangunan dan fasilitas pendukung rusak sehingga
										tidak berfungsi
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Kelengkapan sarana dan prasarana <code>*</code>:</label>
								<select
									id="kelengkapan"
									name="operasional-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Memiliki sarana dan prasarana sistem pengelolaan sampah yang
										lengkap dan sesuai dengan kriteria
									</option>
									<option value="2">
										Memiliki sarana dan prasarana sistem pengelolaan ampah yang
										lengkap tetapi belum sesuai dengan kriteria
									</option>
									<option value="3">
										Tidak memiliki sarana dan prasarana sistem pengelolaan
										sampah yang lengkap dan sesuai kriteria
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label
									>Ketersediaan SOP untuk operasional dan pemeliharaan
									<code>*</code>:</label
								>
								<select
									id="sop"
									name="operasional-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Memiliki SOP untuk operasional dan pemeliharaan yang sesuai
										dengan infrastruktur terbangun
									</option>
									<option value="2">
										Memiliki SOP untuk operasional dan pemeliharaan tapi tidak
										sesuai dengan infrastruktur terbangun
									</option>
									<option value="3">
										Tidak memiliki SOP untuk operasional dan pemeliharaan
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label
									>Ketersediaan laporan kegiatan operasional dan pemeliharaan
									<code>*</code>:</label
								>
								<select
									id="laporankegiatan"
									name="operasional-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Memiliki laporan kegiatan operasi dan pemeliharaan secara
										rutin sesuai kondisi lapangan
									</option>
									<option value="2">
										Memiliki laporan kegiatan operasi dan pemeliharaan tetapi
										tidak rutin
									</option>
									<option value="3">
										Tidak memiliki laporan kegiatan operasi dan pemeliharaan
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label
									>Serah terima aset BMN / penghapusan aset kondisi rusak
									<code>*</code>:</label
								>
								<select
									id="bmn"
									name="operasional-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">
										Sudah serah terima aset BMN atau sudah penghapusan aset
										kondisi rusak
									</option>
									<option value="2">
										Dalam proses serah terima aset BMN atau proses penghapusan
										aset kondisi rusak
									</option>
									<option value="3">
										Belum dilakukan proses serah terima aset BMN atau belum
										proses penghapusan aset kondisi rusak
									</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">Tutup</button> -->
					<button id="save-data-6" type="button" class="btn btn-success">
						<i class="fas fa-check"> </i> Simpan
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</section>

<!-- /.content -->

{% endblock %} {% block js %}
<script>
	$(function () {
		bsCustomFileInput.init();
	});
</script>
{% endblock %}
