{% extends "admin/layout.html" %} {% block content %}
<style>
	.custom-file-label::after {
		width: 100%;
	}
</style>
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-8">
				<h1><i class="nav-icon fa fa-clone"></i> Tahap Pelaksanaan Kegiatan</h1>
			</div>
			<div class="col-sm-4">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item">
						<a href="#">Persiapan Pelaksanaan Program kegiatan</a>
					</li>
					<li class="breadcrumb-item active">List data</li>
				</ol>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
	<!-- Default box -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card card-lightblue card-outline">
					<div class="card-header">
						<h1 class="card-title">
							Persiapan Pelaksanaan Program/ Kegiatan (Pengadaan Barang dan
							Jasa)
						</h1>

						<div class="card-tools">
							<div class="input-group input-group-sm"></div>
						</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-12 col-sm-12">
								<div class="card card-lightblue card-outline card-outline-tabs">
									<div class="card-header p-0 border-bottom-0">
										<ul
											class="nav nav-tabs"
											id="custom-tabs-four-tab"
											role="tablist"
										>
											<li class="nav-item">
												<a
													class="nav-link active"
													id="custom-1"
													data-toggle="pill"
													href="#tab_1"
													role="tab"
													aria-controls="custom-tabs-four-home"
													aria-selected="true"
													>Nama Kegiatan</a
												>
											</li>
											<li class="nav-item">
												<a
													class="nav-link"
													id="custom-2"
													data-toggle="pill"
													href="#tab_2"
													role="tab"
													aria-controls="custom-tabs-four-profile"
													aria-selected="false"
													>Penganggaran</a
												>
											</li>
											<li class="nav-item">
												<a
													class="nav-link"
													id="custom-3"
													data-toggle="pill"
													href="#tab_3"
													role="tab"
													aria-controls="custom-tabs-four-messages"
													aria-selected="false"
													>KAK</a
												>
											</li>
											<li class="nav-item">
												<a
													class="nav-link"
													id="custom-4"
													data-toggle="pill"
													href="#tab_4"
													role="tab"
													aria-controls="custom-tabs-four-settings"
													aria-selected="false"
													>Pagu Anggaran</a
												>
											</li>
											<li class="nav-item">
												<a
													class="nav-link"
													id="custom-5"
													data-toggle="pill"
													href="#tab_5"
													role="tab"
													aria-controls="custom-tabs-four-settings"
													aria-selected="false"
													>Dokumen Seleksi</a
												>
											</li>
											<li class="nav-item">
												<a
													class="nav-link"
													id="custom-6"
													data-toggle="pill"
													href="#tab_6"
													role="tab"
													aria-controls="custom-tabs-four-settings"
													aria-selected="false"
													>NoL WB</a
												>
											</li>
											<li class="nav-item">
												<a
													class="nav-link"
													id="custom-7"
													data-toggle="pill"
													href="#tab_7"
													role="tab"
													aria-controls="custom-tabs-four-settings"
													aria-selected="false"
													>Profil Tender</a
												>
											</li>
											<li class="nav-item">
												<a
													class="nav-link"
													id="custom-8"
													data-toggle="pill"
													href="#tab_8"
													role="tab"
													aria-controls="custom-tabs-four-settings"
													aria-selected="false"
													>Proses Pengadaan Barang/Jasa</a
												>
											</li>
											<li class="nav-item">
												<a
													class="nav-link"
													id="custom-9"
													data-toggle="pill"
													href="#tab_9"
													role="tab"
													aria-controls="custom-tabs-four-settings"
													aria-selected="false"
													>Status Pelaksanaan Pengadaan Barang/Jasa</a
												>
											</li>
										</ul>
									</div>
									<div class="card-body">
										<div class="tab-content" id="custom-tabs-four-tabContent">
											<div
												class="tab-pane fade show active"
												id="tab_1"
												role="tabpanel"
												aria-labelledby="custom-tabs-four-home-tab"
											>
												<div class="row">
													<div class="col-sm-10">
														<h3>1. Nama Kegiatan</h3>
													</div>
													<div class="col-sm-2">
														<div
															class="btn btn-success pull-right"
															id="add-data-1"
														>
															<i class="fas fa-plus"></i
															><span> Tambah Data</span>
														</div>
													</div>
												</div>
												<hr />
												<input id="param" value="" hidden />
												<table
													class="table table-bordered table-hover datatable"
													id="list_1"
												>
													<thead>
														<tr>
															<th>No</th>
															<th>TPST</th>
															<th>Tahun Anggaran</th>
															<th>Nama Paket</th>
															<th>Sumber dana</th>
															<th>Lokasi Pekerjaan</th>
															<th>Skema Pembiayaan</th>
															<th>Skema Pembiayaan Lain</th>
															<th>Jenis Kontrak</th>
															<th></th>
														</tr>
													</thead>
												</table>
											</div>
											<div
												class="tab-pane fade"
												id="tab_2"
												role="tabpanel"
												aria-labelledby="custom-tabs-four-profile-tab"
											>
												<div class="row">
													<div class="col-sm-10">
														<h3>2. Penganggaran (DIPA)</h3>
													</div>
													<div class="col-sm-2">
														<div
															class="btn btn-success pull-right"
															id="add-data-2"
														>
															<i class="fas fa-plus"></i
															><span> Tambah Data</span>
														</div>
													</div>
												</div>
												<hr />
												<input id="param" value="" hidden />
												<table
													class="table table-bordered table-hover datatable"
													id="list_2"
												>
													<thead>
														<tr>
															<th>No</th>
															<th>TPST</th>
															<th>Status Dokumen</th>
															<th></th>
														</tr>
													</thead>
												</table>
											</div>
											<div
												class="tab-pane fade"
												id="tab_3"
												role="tabpanel"
												aria-labelledby="custom-tabs-four-profile-tab"
											>
												<div class="row">
													<div class="col-sm-10">
														<h3>3. Pembuatan KAK</h3>
													</div>
													<div class="col-sm-2">
														<div
															class="btn btn-success pull-right"
															id="add-data-3"
														>
															<i class="fas fa-plus"></i
															><span> Tambah Data</span>
														</div>
													</div>
												</div>
												<hr />
												<input id="param" value="" hidden />
												<table
													class="table table-bordered table-hover datatable"
													id="list_3"
												>
													<thead>
														<tr>
															<th>No</th>
															<th>TPST</th>
															<th>Status Dokumen</th>
															<th></th>
														</tr>
													</thead>
												</table>
											</div>
											<div
												class="tab-pane fade"
												id="tab_4"
												role="tabpanel"
												aria-labelledby="custom-tabs-four-profile-tab"
											>
												<div class="row">
													<div class="col-sm-10">
														<h3>4. Pembuatan Pagu Anggaran/RAB/HPS</h3>
													</div>
													<div class="col-sm-2">
														<div
															class="btn btn-success pull-right"
															id="add-data-4"
														>
															<i class="fas fa-plus"></i
															><span> Tambah Data</span>
														</div>
													</div>
												</div>
												<hr />
												<input id="param" value="" hidden />
												<table
													class="table table-bordered table-hover datatable"
													id="list_4"
												>
													<thead>
														<tr>
															<th>No</th>
															<th>TPST</th>
															<th>Status Dokumen</th>
															<th></th>
														</tr>
													</thead>
												</table>
											</div>
											<div
												class="tab-pane fade"
												id="tab_5"
												role="tabpanel"
												aria-labelledby="custom-tabs-four-profile-tab"
											>
												<div class="row">
													<div class="col-sm-10">
														<h3>5. Dokumen Seleksi Konsultan</h3>
													</div>
													<div class="col-sm-2">
														<div
															class="btn btn-success pull-right"
															id="add-data-5"
														>
															<i class="fas fa-plus"></i
															><span> Tambah Data</span>
														</div>
													</div>
												</div>
												<hr />
												<input id="param" value="" hidden />
												<table
													class="table table-bordered table-hover datatable"
													id="list_5"
												>
													<thead>
														<tr>
															<th>No</th>
															<th>TPST</th>
															<th>Status Dokumen</th>
															<th></th>
														</tr>
													</thead>
												</table>
											</div>
											<div
												class="tab-pane fade"
												id="tab_6"
												role="tabpanel"
												aria-labelledby="custom-tabs-four-profile-tab"
											>
												<div class="row">
													<div class="col-sm-10">
														<h3>6. NoL WB</h3>
													</div>
													<div class="col-sm-2">
														<div
															class="btn btn-success pull-right"
															id="add-data-6"
														>
															<i class="fas fa-plus"></i
															><span> Tambah Data</span>
														</div>
													</div>
												</div>
												<hr />
												<input id="param" value="" hidden />
												<table
													class="table table-bordered table-hover datatable"
													id="list_6"
												>
													<thead>
														<tr>
															<th>No</th>
															<th>TPST</th>
															<th>Status Dokumen</th>
															<th></th>
														</tr>
													</thead>
												</table>
											</div>
											<div
												class="tab-pane fade"
												id="tab_7"
												role="tabpanel"
												aria-labelledby="custom-tabs-four-profile-tab"
											>
												<div class="row">
													<div class="col-sm-10">
														<h3>7. Profil Tender</h3>
													</div>
													<div class="col-sm-2">
														<div
															class="btn btn-success pull-right"
															id="add-data-7"
														>
															<i class="fas fa-plus"></i
															><span> Tambah Data</span>
														</div>
													</div>
												</div>
												<hr />
												<input id="param" value="" hidden />
												<div class="table-responsive">
													<table
														class="table table-bordered table-hover datatable"
														id="list_7"
													>
														<thead>
															<tr>
																<th>No</th>
																<th>TPST</th>
																<th>Tahun Anggaran</th>
																<th>Nama Paket</th>
																<th>Sumber dana</th>
																<th>K/L/PD</th>
																<th>Satuan Kerja</th>
																<th>Jenis Pengadaan</th>
																<th>Jenis Pengadaan Lain</th>
																<th>Nilai Pagu Paket</th>
																<th>Lokasi Pekerjaan</th>
																<th></th>
															</tr>
														</thead>
													</table>
												</div>
											</div>
											<div
												class="tab-pane fade"
												id="tab_8"
												role="tabpanel"
												aria-labelledby="custom-tabs-four-profile-tab"
											>
												<div class="row">
													<div class="col-sm-10">
														<h3>8. Proses Pengadaan Barang dan Jasa</h3>
													</div>
													<div class="col-sm-2">
														<div
															class="btn btn-success pull-right"
															id="add-data-8"
														>
															<i class="fas fa-plus"></i
															><span> Tambah Data</span>
														</div>
													</div>
												</div>
												<hr />
												<input id="param" value="" hidden />
												<div class="table-responsive">
													<table
														class="table table-bordered table-hover datatable"
														id="list_8"
													>
														<thead>
															<tr>
																<th>No</th>
																<th>TPST</th>
																<th>
																	Pengumuman Pascakualifikasi (konstruksi)
																</th>
																<th>Download Dokumen Pemilihan</th>
																<th>Pemberian Penjelasan</th>
																<th>Upload Dokumen Penawaran</th>
																<th>Pembukaan dan Evaluasi Penawaran</th>
																<th>Pembuktian Kualifikasi</th>
																<th>
																	Pengumuman Hasil Evaluasi Administrasi dan
																	Teknis
																</th>
																<th>Masa Sanggah</th>
																<th>Pembukaan dan Evaluasi Penawaran</th>
																<th>Klarifikasi Teknis dan Negosiasi</th>
																<th>Penetapan Pemenang</th>
																<th>Pengumuman Pemenang</th>
																<th>Surat Penunjukan Penyedia Barang/Jasa</th>
																<th>Penandatanganan Kontrak</th>
																<th></th>
															</tr>
														</thead>
													</table>
												</div>
											</div>
											<div
												class="tab-pane fade"
												id="tab_9"
												role="tabpanel"
												aria-labelledby="custom-tabs-four-profile-tab"
											>
												<div class="row">
													<div class="col-sm-10">
														<h3>9. Status Pelaksanaan Pengadaan Barang/Jasa</h3>
													</div>
													<div class="col-sm-2">
														<div
															class="btn btn-success pull-right"
															id="add-data-9"
														>
															<i class="fas fa-plus"></i
															><span> Tambah Data</span>
														</div>
													</div>
												</div>
												<hr />
												<input id="param" value="" hidden />
												<div class="table-responsive">
													<table
														class="table table-bordered table-hover datatable"
														id="list_9"
													>
														<thead>
															<tr>
																<th>No</th>
																<th>TPST</th>
																<th>
																	Status Pelaksanaan Pengadaan Barang/Jasa
																	Kegiatan
																</th>
																<th></th>
															</tr>
														</thead>
													</table>
												</div>
											</div>
										</div>
									</div>
									<!-- /.card -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal-1">
		<div class="modal-dialog modal-lg card card-primary card-outline">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">1. Nama Kegiatan</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="id_1" hidden />
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Pilih TPST <code>*</code>:</label>
								<select
									id="tpst_1"
									name="kegiatan-input"
									class="form-control select2bs4"
								></select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Tahun Anggaran <code>*</code>:</label>
								<input
									id="tahun"
									name="kegiatan-input"
									type="text"
									class="form-control"
									placeholder="..."
								/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Nama Paket <code>*</code>:</label>
								<input
									id="paket"
									name="kegiatan-input"
									type="text"
									class="form-control"
									placeholder="..."
								/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Sumber dana <code>*</code>:</label>
								<select
									id="dana"
									name="kegiatan-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">APBN MURNI</option>
									<option value="2">APBN LOAN</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Lokasi Pekerjaan <code>*</code>:</label>
								<input
									id="lokasi"
									name="kegiatan-input"
									type="text"
									class="form-control"
									placeholder="..."
								/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Skema Pembiayaan<code>*</code>:</label>
								<select
									id="skema"
									name="kegiatan-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">Full Loan</option>
									<option value="2">Ada kerjasama dengan badan usaha</option>
									<option value="3">Lainnya</option>
								</select>
							</div>
						</div>
						<div class="col-md-12" id="div-skema">
							<div class="form-group">
								<label>Masukan Skema Pembiayaan <code>*</code>:</label>
								<input
									id="skema2"
									name="kegiatan-input"
									type="text"
									class="form-control"
									placeholder="..."
									value=""
								/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Jenis Kontrak<code>*</code>:</label>
								<select
									id="kontrak"
									name="kegiatan-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">Kontrak payung</option>
									<option value="2">Perjanjian Kerja Sama</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">Tutup</button> -->
					<button id="save-data-1" type="button" class="btn btn-success">
						<i class="fas fa-check"> </i> Simpan
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="modal-2">
		<div class="modal-dialog modal-lg card card-primary card-outline">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">2. Penganggaran (DIPA)</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="id_2" hidden />
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Pilih TPST <code>*</code>:</label>
								<select
									id="tpst_2"
									name="anggaran-input"
									class="form-control select2bs4"
								></select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Status dokumen <code>*</code>:</label>
								<select
									id="stat_anggaran"
									name="anggaran-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">Sudah</option>
									<option value="2">Belum</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">Tutup</button> -->
					<button id="save-data-2" type="button" class="btn btn-success">
						<i class="fas fa-check"> </i> Simpan
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="modal-3">
		<div class="modal-dialog modal-lg card card-primary card-outline">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">3. Pembuatan KAK</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="id_3" hidden />
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Pilih TPST <code>*</code>:</label>
								<select
									id="tpst_3"
									name="kak-input"
									class="form-control select2bs4"
								></select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Status dokumen <code>*</code>:</label>
								<select
									id="stat_kak"
									name="kak-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">Sudah</option>
									<option value="2">Belum</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">Tutup</button> -->
					<button id="save-data-3" type="button" class="btn btn-success">
						<i class="fas fa-check"> </i> Simpan
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="modal-4">
		<div class="modal-dialog modal-lg card card-primary card-outline">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">4. Pembuatan Pagu Anggaran/RAB/HPS</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="id_4" hidden />
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Pilih TPST <code>*</code>:</label>
								<select
									id="tpst_4"
									name="pagu-input"
									class="form-control select2bs4"
								></select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Status dokumen <code>*</code>:</label>
								<select
									id="stat_pagu"
									name="pagu-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">Sudah</option>
									<option value="2">Belum</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">Tutup</button> -->
					<button id="save-data-4" type="button" class="btn btn-success">
						<i class="fas fa-check"> </i> Simpan
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="modal-5">
		<div class="modal-dialog modal-lg card card-primary card-outline">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">5. Dokumen Seleksi Konsultan</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="id_5" hidden />
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Pilih TPST <code>*</code>:</label>
								<select
									id="tpst_5"
									name="seleksi-input"
									class="form-control select2bs4"
								></select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Status dokumen <code>*</code>:</label>
								<select
									id="stat_seleksi"
									name="seleksi-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">Sudah</option>
									<option value="2">Belum</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">Tutup</button> -->
					<button id="save-data-5" type="button" class="btn btn-success">
						<i class="fas fa-check"> </i> Simpan
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="modal-6">
		<div class="modal-dialog modal-lg card card-primary card-outline">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">6. NoL WB</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="id_6" hidden />
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Pilih TPST <code>*</code>:</label>
								<select
									id="tpst_6"
									name="wb-input"
									class="form-control select2bs4"
								></select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Status dokumen <code>*</code>:</label>
								<select
									id="stat_wb"
									name="wb-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">Sudah</option>
									<option value="2">Belum</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">Tutup</button> -->
					<button id="save-data-6" type="button" class="btn btn-success">
						<i class="fas fa-check"> </i> Simpan
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="modal-7">
		<div class="modal-dialog modal-lg card card-primary card-outline">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">7. Profil Tender</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="id_7" hidden />
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Pilih TPST <code>*</code>:</label>
								<select
									id="tpst_7"
									name="tender-input"
									class="form-control select2bs4"
								></select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Tahun Anggaran <code>*</code>:</label>
								<input
									id="tahun_tender"
									name="tender-input"
									type="text"
									class="form-control"
									placeholder="..."
								/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Nama Paket <code>*</code>:</label>
								<input
									id="paket_tender"
									name="tender-input"
									type="text"
									class="form-control"
									placeholder="..."
								/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Sumber dana <code>*</code>:</label>
								<select
									id="dana_tender"
									name="tender-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">APBN MURNI</option>
									<option value="2">APBN LOAN</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>K/L/PD<code>*</code>:</label>
								<input
									id="klpd_tender"
									name="tender-input"
									type="text"
									class="form-control"
									placeholder="..."
								/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Satuan Kerja<code>*</code>:</label>
								<input
									id="satuan_tender"
									name="tender-input"
									type="text"
									class="form-control"
									placeholder="..."
								/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Jenis Pengadaan<code>*</code>:</label>
								<select
									id="pengadaan_tender"
									name="tender-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">Pekerjaan Konstruksi</option>
									<option value="2">Jasa Konsultansi Badan Usaha</option>
									<option value="3">Lainnya</option>
								</select>
							</div>
						</div>
						<div class="col-md-12" id="div-pengadaan">
							<div class="form-group">
								<label>Masukan Jenis Pengadaan <code>*</code>:</label>
								<input
									id="pengadaan_tender2"
									name="tender-input"
									type="text"
									class="form-control"
									placeholder="..."
									value=""
								/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Nilai Pagu <code>*</code>:</label>
								<input
									id="nilai_tender"
									name="tender-input"
									type="text"
									class="form-control"
									placeholder="..."
								/>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Lokasi Pekerjaan <code>*</code>:</label>
								<input
									id="lokasi_tender"
									name="tender-input"
									type="text"
									class="form-control"
									placeholder="..."
								/>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">Tutup</button> -->
					<button id="save-data-7" type="button" class="btn btn-success">
						<i class="fas fa-check"> </i> Simpan
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="modal-8">
		<div class="modal-dialog modal-lg card card-primary card-outline">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">8. Proses Pengadaan Barang/Jasa</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="id_8" hidden />
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Pilih TPST <code>*</code>:</label>
								<select
									id="tpst_8"
									name="proses-pengadaan-input"
									class="form-control select2bs4"
								></select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label
									>Pengumuman Pascakualifikasi (konstruksi)
									<code>*</code>:</label
								>
								<div class="row">
									<div class="col-md-4">
										<input
											id="konstruksi1"
											name="konstruksi-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL RENCANA"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="konstruksi2"
											name="konstruksi-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL AKTUAL"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="konstruksi3"
											name="konstruksi-input[]"
											type="text"
											class="form-control"
											placeholder="DEVIASI WAKTU"
										/>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Download Dokumen Pemilihan <code>*</code>:</label>
								<div class="row">
									<div class="col-md-4">
										<input
											id="dokumen1"
											name="dokumen-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL RENCANA"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="dokumen2"
											name="dokumen-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL AKTUAL"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="dokumen3"
											name="dokumen-input[]"
											type="text"
											class="form-control"
											placeholder="DEVIASI WAKTU"
										/>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Pemberian Penjelasan <code>*</code>:</label>
								<div class="row">
									<div class="col-md-4">
										<input
											id="penjelasan1"
											name="penjelasan-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL RENCANA"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="penjelasan2"
											name="penjelasan-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL AKTUAL"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="penjelasan3"
											name="penjelasan-input[]"
											type="text"
											class="form-control"
											placeholder="DEVIASI WAKTU"
										/>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Upload Dokumen Penawaran<code>*</code>:</label>
								<div class="row">
									<div class="col-md-4">
										<input
											id="penawaran1"
											name="penawaran-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL RENCANA"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="penawaran2"
											name="penawaran-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL AKTUAL"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="penawaran3"
											name="penawaran-input[]"
											type="text"
											class="form-control"
											placeholder="DEVIASI WAKTU"
										/>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Pembukaan dan Evaluasi Penawaran<code>*</code>:</label>
								<div class="row">
									<div class="col-md-4">
										<input
											id="pembukaan1"
											name="pembukaan-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL RENCANA"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="pembukaan2"
											name="pembukaan-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL AKTUAL"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="pembukaan3"
											name="pembukaan-input[]"
											type="text"
											class="form-control"
											placeholder="DEVIASI WAKTU"
										/>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Pembuktian Kualifikasi<code>*</code>:</label>
								<div class="row">
									<div class="col-md-4">
										<input
											id="kualifikasi1"
											name="kualifikasi-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL RENCANA"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="kualifikasi2"
											name="kualifikasi-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL AKTUAL"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="kualifikasi3"
											name="kualifikasi-input[]"
											type="text"
											class="form-control"
											placeholder="DEVIASI WAKTU"
										/>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12" id="div-pengadaan">
							<div class="form-group">
								<label
									>Pengumuman Hasil Evaluasi Administrasi dan Teknis
									<code>*</code>:</label
								>
								<div class="row">
									<div class="col-md-4">
										<input
											id="pengumuman1"
											name="pengumuman-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL RENCANA"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="pengumuman2"
											name="pengumuman-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL AKTUAL"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="pengumuman3"
											name="pengumuman-input[]"
											type="text"
											class="form-control"
											placeholder="DEVIASI WAKTU"
										/>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Masa Sanggah <code>*</code>:</label>
								<div class="row">
									<div class="col-md-4">
										<input
											id="sanggah1"
											name="sanggah-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL RENCANA"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="sanggah2"
											name="sanggah-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL AKTUAL"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="sanggah3"
											name="sanggah-input[]"
											type="text"
											class="form-control"
											placeholder="DEVIASI WAKTU"
										/>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="col-md-12">
							<div class="form-group">
								<label>Pembukaan dan Evaluasi Penawaran <code>*</code>:</label>
								<div class="row">
									<div class="col-md-4">
										<input
											id="kontruksi1"
											name="kontruksi-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL RENCANA"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="kontruksi2"
											name="kontruksi-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL AKTUAL"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="kontruksi3"
											name="kontruksi-input[]"
											type="text"
											class="form-control"
											placeholder="DEVIASI WAKTU"
										/>
									</div>
								</div>
							</div>
						</div> -->
						<div class="col-md-12">
							<div class="form-group">
								<label>Klarifikasi Teknis dan Negosiasi<code>*</code>:</label>
								<div class="row">
									<div class="col-md-4">
										<input
											id="negosiasi1"
											name="negosiasi-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL RENCANA"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="negosiasi2"
											name="negosiasi-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL AKTUAL"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="negosiasi3"
											name="negosiasi-input[]"
											type="text"
											class="form-control"
											placeholder="DEVIASI WAKTU"
										/>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Penetapan Pemenang<code>*</code>:</label>
								<div class="row">
									<div class="col-md-4">
										<input
											id="penetapan1"
											name="penetapan-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL RENCANA"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="penetapan2"
											name="penetapan-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL AKTUAL"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="penetapan3"
											name="penetapan-input[]"
											type="text"
											class="form-control"
											placeholder="DEVIASI WAKTU"
										/>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Pengumuman Pemenang<code>*</code>:</label>
								<div class="row">
									<div class="col-md-4">
										<input
											id="pemenang1"
											name="pemenang-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL RENCANA"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="pemenang2"
											name="pemenang-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL AKTUAL"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="pemenang3"
											name="pemenang-input[]"
											type="text"
											class="form-control"
											placeholder="DEVIASI WAKTU"
										/>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label
									>Surat Penunjukan Penyedia Barang/Jasa<code>*</code>:</label
								>
								<div class="row">
									<div class="col-md-4">
										<input
											id="penunjukan1"
											name="penunjukan-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL RENCANA"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="penunjukan2"
											name="penunjukan-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL AKTUAL"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="penunjukan3"
											name="penunjukan-input[]"
											type="text"
											class="form-control"
											placeholder="DEVIASI WAKTU"
										/>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Penandatanganan Kontrak<code>*</code>:</label>
								<div class="row">
									<div class="col-md-4">
										<input
											id="penandatanganan1"
											name="penandatanganan-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL RENCANA"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="penandatanganan2"
											name="penandatanganan-input[]"
											type="text"
											class="form-control"
											placeholder="JADWAL AKTUAL"
										/>
									</div>
									<div class="col-md-4">
										<input
											id="penandatanganan3"
											name="penandatanganan-input[]"
											type="text"
											class="form-control"
											placeholder="DEVIASI WAKTU"
										/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">Tutup</button> -->
					<button id="save-data-8" type="button" class="btn btn-success">
						<i class="fas fa-check"> </i> Simpan
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="modal-9">
		<div class="modal-dialog modal-lg card card-primary card-outline">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">
						9. Status Pelaksanaan Pengadaan Barang / Jasa
					</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input id="id_9" hidden />
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Pilih TPST <code>*</code>:</label>
								<select
									id="tpst_9"
									name="stat-pelaksanaan-input"
									class="form-control select2bs4"
								></select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label
									>Status Pelaksanaan Pengadaan Barang/Jasa Kegiatan
									<code>*</code>:</label
								>
								<select
									id="stat_pelaksanaan"
									name="stat-pelaksanaan-input"
									class="form-control select2bs4"
								>
									<option value="0">-Pilih-</option>
									<option value="1">Masih dalam jadwal</option>
									<option value="2">perlu percepatan pelaksanaan</option>
									<option value="3">perlu perhatian khusus</option>
									<option value="4">Selesai</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">Tutup</button> -->
					<button id="save-data-9" type="button" class="btn btn-success">
						<i class="fas fa-check"> </i> Simpan
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</section>

<!-- /.content -->

{% endblock %} {% block js %}
<script>
	$(function () {
		bsCustomFileInput.init();
	});
</script>
{% endblock %}
